@model List<LogisticsManagement_Poco.Lms_PayeePoco>


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#payee-list')) {
            $('#payee-list').DataTable().destroy();
        }
        $('#payee-list').DataTable({
            "order": [[0, "desc"]],
            "paging": false,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="payee-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Payee name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(c => c.Id))
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.PayeeName
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.EmailAddress
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            <button id="btnEdit" data-payeeid='@item.Id' class="btn-primary smallGridIcon btnEdit" type="button"><i class="fa fa-pencil"></i> </button>
                            <button id="btnDelete" data-payeeid='@item.Id' class="btn-danger smallGridIcon btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/payee.js"></script>
