@using LogisticsManagement_Web.Models;
@model ViewModel_City

@{
    ViewData["Title"] = "CITY";
}

<div class="row">
    <div class="col-sm-2">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>
   
    <div class="col-sm-2 offset-8">
        <button id="btnNewCity" type="button" class="btn btn-sm btn-danger form-control" title="Add New City" data-toggle="modal"><i class="fa fa-plus-circle"></i> New City </button>
    </div>
</div>

<hr style="margin-bottom:20px" />

<form id="frmCityForm" class="form-inline">
    <div class="modal fade" id="cityInformation" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> CITY </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-12">
                            <input class="col-10 form-control form-control-sm frmfontsize" id="txtCityName" placeholder="City name" name="txtCityName" type="text" maxlength="150" />
                            <input class="col-2 form-control form-control-sm frmfontsize" id="txtCityId" placeholder="##" name="txtCityId" type="text" maxlength="10" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlProvinceId" name="ddlProvinceId">
                                <option value="0">Province</option>
                                @foreach (var prov in Model.Provinces)
                                {
                                    var selected = false;
                                    if (prov.Id == 7)
                                    {
                                        selected = true;
                                    }
                                    <option value="@prov.Id" selected="@selected">@prov.ShortCode</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCountryId" name="ddlCountryId">
                                <option value="0">Country</option>
                                @foreach (var country in Model.Countries)
                                {
                                    var selected = false;
                                    if (country.Id == 41)
                                    {
                                        selected = true;
                                    }
                                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadCustomerDataTable">
            <partial name="_PartialViewCityData" />
        </div>
    </div>
</div>



<script src="~/js/city.js"></script>