@using LogisticsManagement_Poco;
@model List<Lms_CustomerPoco>


<script>
    $(document).ready(function () {

        if ($.fn.dataTable.isDataTable('#customer-list')) {
            $('#customer-list').DataTable().destroy();
        }
        $('#customer-list').DataTable({
            "order": [[0, "desc"]],
            "paging": false,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
                
            }
        });
    });
</script>


<div class="row">
    <div class="col-sm-12">
        <table id="customer-list" class="table table-sm  table-striped table-bordered lms_dataTable"  cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Special Discount(%)</th>
                    <th>Invoice Due(days)</th>
                    <th>Active?</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tBodyCustomer">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @(item.DiscountPercentage == null ? 0 : item.DiscountPercentage)
                        </td>
                        <td>
                            @(item.InvoiceDueDays == null ? 0 : item.InvoiceDueDays)
                        </td>
                        <td>
                            @item.IsActive
                        </td>

                        <td>
                            <button id="btnEdit" data-customerid='@item.Id' class=" btn-primary smallGridIcon btnEdit" type="button"><i class="fa fa-pencil"></i> </button>
                            <button id="btnDelete" data-customerid='@item.Id' class="btn-danger smallGridIcon btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/customer.js"></script>