@using LogisticsManagement_Web.Models;
@model List<ViewModel_CustomerAddress>


<script>
    $(document).ready(function () {

        if ($.fn.dataTable.isDataTable('#customer-address-list')) {
            $('#customer-address-list').DataTable().destroy();
        }
        $('#customer-address-list').DataTable({
            "order": [[0, "desc"]],
            "paging": false,
            //"language": {
            //    searchPlaceholder: 'Search...',
            //    search: "<i class='fa fa-search'></i>",

            //},
            "info": false,
            "searching": false
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="customer-address-list" class="table table-sm  table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>Add. Type</th>
                    <th>Address</th>
                    <th>Default?</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tBodyCustomer">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.AddressTypeName
                        </td>
                        <td>
                            @item.MergedAddressLine
                        </td>
                        <td>
                            @item.IsDefault
                        </td>
                        <td>
                            <button id="btnEditAddress" data-addressid='@item.AddressId' data-customerid='@item.CustomerId' data-addresstypeid='@item.AddressTypeId' data-isdefault='@item.IsDefault' class="btn-primary smallGridIcon btnEditAddress" type="button"><i class="fa fa-pencil"></i> </button>
                            <button id="btnDeleteAddress" data-addressid='@item.AddressId' data-customerid='@item.CustomerId' data-addresstypeid='@item.AddressTypeId' data-isdefault='@item.IsDefault' class="btn-danger smallGridIcon btnDeleteAddress" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/customer.js"></script>