@{
    ViewData["Title"] = "Customers";
}

<style>
    .addressBox {
        margin-left: 8px !important;
        margin-bottom: 8px !important;
    }
</style>



<form id="frmCustomerAddress" class="form-inline">
    <div class="modal fade" id="addAddress" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title"> MANAGE ADDRESS </label>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-2">
                        <input type="hidden" id="hfBillingAddressMappingId2" />
                        <input type="hidden" id="hfShippingAddressMappingId2" />
                        <div class="col-12 input-group">
                            <label for="txtCustomerNameForAddress" class="captionWeight mr-3">NAME</label>
                            <input class="col-10 form-control form-control-sm frmfontsize" id="txtCustomerNameForAddress" placeholder="Customer name" type="text" name="txtCustomerNameForAddress" title="Customer name" />
                            <input class="col-1 form-control form-control-sm frmfontsize" id="txtCustomerIdForAddress" type="number" min="1" name="txtCustomerIdForAddress" readonly>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-12" id="divAddress1">
                            <div class="row m-0 mb-4 input-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressType" id="rdoBoth" value="0" checked />
                                    <label class="form-check-label captionWeight" for="rdoBoth">BILLING/SHIPPING SAME</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressType" id="rdoBilling" value="1" />
                                    <label class="form-check-label captionWeight" for="rdoBilling">BILLING ONLY</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressType" id="rdoShipping" value="2" />
                                    <label class="form-check-label captionWeight" for="rdoShipping">SHIPPING/RECEIVING ONLY</label>
                                </div>
                            </div>
                            <div class="row m-0 input-group">
                                <input type="hidden" id="hfAddressId" />
                                <input class="col-8 form-control form-control-sm frmfontsize" id="txtAddressLine" name="txtAddressLine" placeholder="Address Line" list="addresses" type="search" />
                                <datalist id="addresses"></datalist>
                                <input class="col-4 form-control form-control-sm addressBox frmfontsize" id="txtAddressUnit" type="text" name="txtAddressUnit" placeholder="Unit " />
                            </div>
                            <div class="row m-0 input-group">
                                <select class="col-5 form-control form-control-sm frmfontsize" id="ddlCityId" name="ddlCityId">
                                    <option value="0">City </option>
                                    @foreach (var city in ViewBag.Cities)
                                    {
                                        var selected = false;
                                        if (city.Id == 335)
                                        {
                                            selected = true;
                                        }
                                        <option value="@city.Id" selected="@selected">@city.CityName</option>
                                    }
                                </select>
                                <select class="col-2 form-control form-control-sm addressBox frmfontsize" id="ddlProvinceId" name="ddlProvinceId">
                                    <option value="0">Province</option>
                                    @foreach (var province in ViewBag.Provinces)
                                    {
                                        var selected = false;
                                        if (province.Id == 7)
                                        {
                                            selected = true;
                                        }
                                        <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                                    }
                                </select>
                                <select class="col-3 form-control form-control-sm addressBox frmfontsize" id="ddlCountryId" name="ddlCountryId">
                                    <option value="0">Country</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        var selected = false;
                                        if (country.Id == 41)
                                        {
                                            selected = true;
                                        }
                                        <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                    }
                                </select>
                                <input class="col-2 form-control form-control-sm addressBox frmfontsize" id="txtPostCode" name="txtPostCode" placeholder="Postcode" />
                            </div>

                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm  frmfontsize" id="txtContactPerson" type="text" name="txtContactPerson" placeholder="Contact person" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtEmailAddress" type="email" name="txtEmailAddress" placeholder="Email address" />
                            </div>
                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm frmfontsize " id="txtPrimaryPhoneNumber" type="tel" name="txtPrimaryPhoneNumber" placeholder="Phone" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtFaxNumber" type="tel" name="txtFaxNumber" placeholder="Fax" />
                            </div>

                            <div class="row ml-0 mt-3 mb-3 input-group">
                                <div class="form-check-inline">
                                    <input class="form-check-input chkIsDefault" id="chkIsDefault" type="checkbox" checked />
                                    <label class="form-check-label ml-1 captionWeight" for="chkIsDefault" id="lblIsDefault">MAKE THIS DEFAULT FOR "DELIVERY ORDER FROM"</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <fieldset>
                        <legend>EXISTING ADDRESS</legend>
                        <div id="loadAddressDataTable">
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary mr-auto" id="btnNewAddress" name="btnNewAddress"><i class="fa fa-plus-circle"></i> ADD NEW ADDRESS </button>

                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSaveAddress"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnClose"><i class="fa fa-cross"></i> CLOSE </button>
                </div>
            </div>
        </div>
    </div>

</form>

<form id="frmCustomerForm" class="form-inline">
    <div class="modal fade" id="customerInformation" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title"> CUSTOMER </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-2">
                        <input type="hidden" id="hfMailingAddressId" name="hfMailingAddressId" />
                        <input type="hidden" id="hfBillingAddressId" name="hfBillingAddressId" />
                        <input type="hidden" id="hfBillingAddressMappingId" name="hfBillingAddressMappingId" />
                        <input type="hidden" id="hfShippingAddressMappingId" name="hfShippingAddressMappingId" />
                        <div class="col-12 input-group">
                            <label for="txtCustomerName" class="captionWeight mr-3">NAME</label>
                            <input class="col-10 form-control form-control-sm frmfontsize" id="txtCustomerName" placeholder="Customer name" type="text" name="txtCustomerName" title="Customer name" />
                            <input class="col-1 form-control form-control-sm frmfontsize" id="txtCustomerId" type="number" min="1" placeholder="####" name="txtCustomerId" readonly>
                        </div>
                    </div>

                    <div class="row mb-2 ml-0">
                        <div class="form-group mr-4">
                            <label for="txtFuelSurcharge" class="captionWeight mr-4">FUEL</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtFuelSurcharge" placeholder="Fuel (%)" type="number" max="100" step=".01" name="txtFuelSurcharge" value="@ViewBag.DefaultFuelSurcharge" title="Fuel surcharge" />
                        </div>
                        <div class="form-group mr-4">
                            <label for="txtSpecialDiscount" class="captionWeight mr-2"> DISC.(%)</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtSpecialDiscount" placeholder="Disc. (%)" type="number" max="100" step=".01" name="txtSpecialDiscount" title="Discount (%)" />
                        </div>
                        <div class="form-group mr-4">
                            <label for="txtInvoiceDueDays" class="captionWeight mr-2"> INV. DUE DAY/S</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtInvoiceDueDays" placeholder="Days" type="text" name="txtInvoiceDueDays" title="Invoice due days" />
                        </div>
                        <div class="form-group">
                            <label for="isGstApplicable" class="captionWeight mr-3"> APPLY HST?</label>
                            <input id="isGstApplicable" type="checkbox" name="isGstApplicable" title="Apply HST" class="mr-1" /> <label class="captionWeight" for="isGstApplicable">YES</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" id="divAddress0">
                            <div class="row m-0 input-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoBothForMain" value="0" checked />
                                    <label class="form-check-label captionWeight" for="rdoBothForMain">BILLING/SHIPPING SAME</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoBillingForMain" value="1" />
                                    <label class="form-check-label captionWeight" for="rdoBillingForMain">BILLING ONLY</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoShippingForMain" value="2" />
                                    <label class="form-check-label captionWeight" for="rdoShippingForMain">SHIPPING/RECEIVING ONLY</label>
                                </div>

                                <br /><br /><br />
                            </div>
                            <div class="row m-0 input-group">
                                <input type="hidden" id="hfAddressIdForMain" />
                                <input class="col-8 form-control form-control-sm frmfontsize" id="txtAddressLineForMain" name="txtAddressLineForMain" placeholder="Address Line" list="addresses" type="search" />
                                <datalist id="addresses">
                                    @*<option data-addressid="@item.AddressId" value="@item.AddressLine"></option>*@
                                </datalist>
                                <input class="col-4 form-control form-control-sm addressBox frmfontsize" id="txtAddressUnitForMain" type="text" name="txtAddressUnitForMain" placeholder="Unit " />
                            </div>
                            <div class="row m-0 input-group">
                                <select class="col-5 form-control form-control-sm frmfontsize" id="ddlCityIdForMain" name="ddlCityIdForMain">
                                    <option value="0">City </option>
                                    @foreach (var city in ViewBag.Cities)
                                    {
                                        var selected = false;
                                        if (city.Id == 335)
                                        {
                                            selected = true;
                                        }
                                        <option value="@city.Id" selected="@selected">@city.CityName</option>
                                    }
                                </select>
                                <select class="col-2 form-control form-control-sm addressBox frmfontsize" id="ddlProvinceIdForMain" name="ddlProvinceIdForMain">
                                    <option value="0">Province</option>
                                    @foreach (var province in ViewBag.Provinces)
                                    {
                                        var selected = false;
                                        if (province.Id == 7)
                                        {
                                            selected = true;
                                        }
                                        <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                                    }
                                </select>
                                <select class="col-3 form-control form-control-sm addressBox frmfontsize" id="ddlCountryIdForMain" name="ddlCountryIdForMain">
                                    <option value="0">Country</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        var selected = false;
                                        if (country.Id == 41)
                                        {
                                            selected = true;
                                        }
                                        <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                    }
                                </select>
                                <input class="col-2 form-control form-control-sm addressBox frmfontsize" id="txtPostCodeForMain" name="txtPostCodeForMain" placeholder="Postcode" />
                            </div>

                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm  frmfontsize" id="txtContactPersonForMain" type="text" name="txtContactPersonForMain" placeholder="Contact person" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtEmailAddressForMain" type="email" name="txtEmailAddressForMain" placeholder="Email address" />
                            </div>
                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm frmfontsize " id="txtPrimaryPhoneNumberForMain" type="tel" name="txtPrimaryPhoneNumberForMain" placeholder="Phone" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtFaxNumberForMain" type="tel" name="txtFaxNumberForMain" placeholder="Fax" />
                            </div>

                            <div class="row ml-0 mt-3 mb-3 input-group">
                                <div class="form-check-inline">
                                    <input class="form-check-input" id="chkIsActive" type="checkbox" checked />
                                    <label class="form-check-label ml-1" for="chkIsActive">IS ACTIVE?</label>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary mr-auto" id="btnAddAddress"><i class="fa fa-envelope"></i> MANAGE ADDRESS</button>
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnClose"><i class="fa fa-cross"></i> CLOSE </button>
                </div>
            </div>
        </div>
    </div>

</form>


<div class="row">
    <div class="col-sm-2">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>
    <div class="col-sm-4 input-group">
        <select class="col-2 form-control form-control-sm" id="ddlLoadCustomerCount">
            <option value="0">All</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <button style="margin-left:10px;margin-right:15px; height:27px" class="col-6 btn btn-sm btn-dark" id="btnLoadCustomerData"><i class="fa fa-download"></i> Load customer </button>
        <span id="spinnerLoadingDataTable" style="display:none">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
            <span style="margin-right:20px">Loading...</span>
        </span>
    </div>
    <div class="col-sm-2 offset-4">
        <button id="btnNewCustomer" type="button" class="btn btn-sm btn-danger form-control" title="Add New Customer" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Customer </button>
    </div>
</div>

<hr style="margin-bottom:20px" />


<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadCustomerDataTable">
            <partial name="_PartialViewCustomerData" />
        </div>
    </div>

</div>


<script src="~/js/customer.js"></script>