@using LogisticsManagement_Web.Models;
@model ViewModel_Customer


@{
    ViewData["Title"] = "Customer";
}

<style>
    .addressBox {
        margin-left: 8px !important;
        margin-bottom: 8px !important;
    }
</style>

<h3>
    @ViewData["Title"]
</h3>
<hr style="margin-bottom:40px" />

<form id="frmCustomerForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <input type="hidden" id="hfMailingAddressId" name="hfMailingAddressId" />
            <input type="hidden" id="hfBillingAddressId" name="hfBillingAddressId" />
            <input class="col-2 form-control form-control-sm" placeholder="&#xF002; Customer id" style="font-family:Arial, FontAwesome" id="txtCustomerId" type="number" min="1" name="txtCustomerId">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="txtCustomerName" class="form-group">Customer name</label>
            <input class="form-control form-control-sm" id="txtCustomerName" placeholder="Name" type="text" name="txtCustomerName" title="Customer name" />
        </div>
        <div class="form-group col-sm-2">
            <label for="txtInvoiceDueDays">Apply GST?</label>
            <span class="col-12 form-control form-control-sm">
                <input id="isGstApplicable" type="checkbox" name="isGstApplicable"> YES
            </span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3">
            <label for="txtFuelSurcharge" class="form-group">Fuel sur-charge(%)</label>
            <input class="form-control form-control-sm" id="txtFuelSurcharge" placeholder="Fuel (%)" type="number" max="100" step=".01" name="txtFuelSurcharge" value="@ViewBag.DefaultFuelSurcharge" title="Fuel surcharge" />
        </div>
        <div class="form-group col-sm-3">
            <label for="txtSpecialDiscount">Discount</label>
            <input class="form-control form-control-sm" id="txtSpecialDiscount" placeholder="Discount (%)" type="number" max="100" step=".01" name="txtSpecialDiscount" title="Discount (%)" />
        </div>
        <div class="form-group col-sm-2">
            <label for="txtInvoiceDueDays">Invoice due days</label>
            <input class="form-control form-control-sm" id="txtInvoiceDueDays" placeholder="Invoice Due Days" type="number" max="90" name="txtInvoiceDueDays" title="Invoice due days" />
        </div>
    </div>

    @*<div class="row">
            <div class="form-group col-sm-8">
                <label for="ddlEmployeeId">Assign employee</label>
                <select class="form-control form-control-sm" id="ddlEmployeeId" disabled>
                    <option value="0" selected> -- Assign Employee -- </option>
                </select>
            </div>
        </div>*@




    <hr />
    <button type="submit" class="col-1 btn btn-sm btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>
    <button type="reset" class="col-1 btn btn-sm btn-primary" id="btnClear"><i class="fa fa-refresh"></i> Clear</button>

</form>

<div class="row">
    <div class="col-md-12" style="margin-top:40px">
        <h3>Add addresses</h3>
        <hr style="margin-bottom:40px" />

    </div>
</div>
<div class="row">
        <div class="form-group col-sm-2">
            <label for="">Address type</label>
        </div>
        <div class="form-group col-sm-8 form-check-inline"  style="margin-bottom:20px">
            <div class="col-3 input-group"><input type="radio" id="rdoAddTypeSame" name="addressType" value="1" style="margin-top:5px; margin-right:5px" checked /> Same for both</div>
            <div class="col-3 input-group"><input type="radio" id="rdoAddTypeBilling" name="addressType" value="2" style="margin-top:5px; margin-right:5px" /> Billing address</div>
            <div class="col-3 input-group"><input type="radio" id="rdoAddTypeShipping" name="addressType" value="3" style="margin-top:5px; margin-right:5px" /> Shipping address</div>
            <div class="col-3 input-group"><input type="radio" id="rdoAddTypeDifferent" name="addressType" value="4" style="margin-top:5px; margin-right:5px" /> Different for both</div>
        </div>
</div>
<div class="row">
    <div class="col-sm-5" id="divAddress2">
        <div class="row m-0 input-group">
            <input class="col-8 form-control form-control-sm" id="txtAddressLine" name="txtAddressLine" placeholder="Address Line" list="addresses" />
            <datalist id="addresses">
                @foreach (var item in Model.AddressLinesForAutoComplete)
                {
                    <option data-value="@item.AddressId" value="@item.AddressLine"></option>
                }
            </datalist>
            <input class="col-4 form-control form-control-sm addressBox" id="txtAddressUnit" type="text" name="txtAddressUnit" placeholder="Unit " />
        </div>
        <div class="row m-0 input-group">
            <select class="col-5 form-control form-control-sm" id="ddlCityId" name="ddlCityId">
                <option value="0">City </option>
                @foreach (var city in Model.Cities)
                {
                    var selected = false;
                    if (city.Id == 335)
                    {
                        selected = true;
                    }
                    <option value="@city.Id" selected="@selected">@city.CityName</option>
                }
            </select>
            <select class="col-2 form-control form-control-sm addressBox" id="ddlProvinceId" name="ddlProvinceId">
                <option value="0">Province</option>
                @foreach (var province in Model.Provinces)
                {
                    var selected = false;
                    if (province.Id == 7)
                    {
                        selected = true;
                    }
                    <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                }
            </select>
            <select class="col-3 form-control form-control-sm addressBox" id="ddlCountryId" name="ddlCountryId">
                <option value="0">Country</option>
                @foreach (var country in Model.Countries)
                {
                    var selected = false;
                    if (country.Id == 41)
                    {
                        selected = true;
                    }
                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                }
            </select>
            <input class="col-2 form-control form-control-sm addressBox" id="txtPostCode" name="txtPostCode" placeholder="Postcode" />
        </div>

        <div class="row m-0 input-group">
            <input class="col-6 form-control form-control-sm " id="txtContactPerson" type="text" name="txtContactPerson" placeholder="Contact person" />
            <input class="col-6 form-control form-control-sm addressBox" id="txtEmailAddress" type="email" name="txtEmailAddress" placeholder="Email address" />
        </div>
        <div class="row m-0 input-group">
            <input class="col-6 form-control form-control-sm " id="txtPrimaryPhoneNumber" type="tel" name="txtPrimaryPhoneNumber" placeholder="Phone" />
            <input class="col-6 form-control form-control-sm addressBox" id="txtFaxNumber" type="tel" name="txtFaxNumber" placeholder="Fax" />
        </div>
    </div>
    <div class="col-sm-5" id="divAddress2" style="pointer-events:none; opacity:0.6; color:gray" >
        <div class="row m-0 input-group">
            <input class="col-8 form-control form-control-sm" id="txtAddressLine2" name="txtAddressLine2" placeholder="Address Line" list="addresses" />
            <datalist id="addresses">
                @foreach (var item in Model.AddressLinesForAutoComplete)
                {
                    <option data-value="@item.AddressId" value="@item.AddressLine"></option>
                }
            </datalist>
            <input class="col-4 form-control form-control-sm addressBox" id="txtAddressUnit2" type="text" name="txtAddressUnit2" placeholder="Unit " />
        </div>
        <div class="row m-0 input-group">
            <select class="col-5 form-control form-control-sm" id="ddlCityId2" name="ddlCityId2">
                <option value="0">City </option>
                @foreach (var city in Model.Cities)
                {
                    var selected = false;
                    if (city.Id == 335)
                    {
                        selected = true;
                    }
                    <option value="@city.Id" selected="@selected">@city.CityName</option>
                }
            </select>
            <select class="col-2 form-control form-control-sm addressBox" id="ddlProvinceId2" name="ddlProvinceId2">
                <option value="0">Province</option>
                @foreach (var province in Model.Provinces)
                {
                    var selected = false;
                    if (province.Id == 7)
                    {
                        selected = true;
                    }
                    <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                }
            </select>
            <select class="col-3 form-control form-control-sm addressBox" id="ddlCountryId2" name="ddlCountryId2">
                <option value="0">Country</option>
                @foreach (var country in Model.Countries)
                {
                    var selected = false;
                    if (country.Id == 41)
                    {
                        selected = true;
                    }
                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                }
            </select>
            <input class="col-2 form-control form-control-sm addressBox" id="txtPostCode2" name="txtPostCode2" placeholder="Postcode" />
        </div>

        <div class="row m-0 input-group">
            <input class="col-6 form-control form-control-sm " id="txtContactPerson2" type="text" name="txtContactPerson2" placeholder="Contact person" />
            <input class="col-6 form-control form-control-sm addressBox" id="txtEmailAddress2" type="email" name="txtEmailAddress2" placeholder="Email address" />
        </div>
        <div class="row m-0 input-group">
            <input class="col-6 form-control form-control-sm " id="txtPrimaryPhoneNumber2" type="tel" name="txtPrimaryPhoneNumber2" placeholder="Phone" />
            <input class="col-6 form-control form-control-sm addressBox" id="txtFaxNumber2" type="tel" name="txtFaxNumber2" placeholder="Fax" />
        </div>
    </div>
</div>

<hr />
<button type="button" class="col-1 btn btn-sm btn-success" id="btnSaveAddress"><i class="fa fa-save"></i> Save </button>


<div class="row">
    <div class="col-md-12 input-group" style="margin-top:40px">
        <h3>Existing customers</h3>
        <button style="margin-left:15px; margin-top:8px" class="btn btn-sm btn-primary" id="btnLoadCustomerData"><i class="fa fa-download"></i> Load data </button>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div style="display:block; height:200px; padding:10px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadDataTable">
            @* <partial name="_PartialViewCustomerData" />*@
        </div>
    </div>
</div>




<div class="row">


</div>


<script src="~/js/customer.js"></script>