@using LogisticsManagement_Web.Models;
@model ViewModel_Employee


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#employee-list')) {
            $('#employee-list').DataTable().destroy();
        }
        $('#employee-list').DataTable({
            "order": [[0, "asc"]],
            "paging": false,
            "lengthChange": false,
            searching: false
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="employee-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr style="background-color:#ebffad">
                    <th>Emp #</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>License#</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees.OrderByDescending(c => c.Id))
                {
                    <tr>
                        <td>
                            <div class="form-check-inline">
                                <input type="checkbox" name="chkSelectedEmployee" class="form-check-input chkSelectedEmployee" data-employeeid='@item.Id' />
                                <label class="form-check-label">@item.Id</label>
                            </div>
                           
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.DriverLicenseNo
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.EmailAddress
                        </td>

                        <td>
                            <button id="btnEdit" data-employeeid='@item.Id' class="btn-primary smallGridIcon btnEdit" type="button"><i class="fa fa-pencil"></i> </button>
                            <button id="btnDelete" data-employeeid='@item.Id' class="btn-danger smallGridIcon btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/employee.js"></script>
