@using LogisticsManagement_Web.Models;
@model ViewModel_Employee


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#employee-list')) {
            $('#employee-list').DataTable().destroy();
        }
        $('#employee-list').DataTable({
            "order": [[1, "asc"]],
            "paging": false,
            "lengthChange": false,
            searching: false,
            info: false
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="employee-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr style="background-color:#ebffad">
                    <th>Select</th>
                    <th>Name</th>
                    <th>Emp #</th>
                    <th>Emp type</th>
                    <th>License#</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees.OrderByDescending(c => c.Id))
                {
                <tr>
                    <td>
                        <button  data-employeeid='@item.Id' class="btn-primary btnSelect" type="button"> Select </button>
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @{ 
                            var typeName = Model.EmployeeTypes.Where(c => c.Id == item.EmployeeTypeId).FirstOrDefault().EmployeeTypeName;
                        }
                        @typeName
                    </td>
                    <td>
                        @item.DriverLicenseNo
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.EmailAddress
                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/employee.js"></script>
