@using LogisticsManagement_Web.Models;
@model ViewModel_DeliveryOrder 

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#order-list')) {
            $('#order-list').DataTable().destroy();
        }
        $('#order-list').DataTable({
            "order": [[0, "desc"]],
            "lengthChange": false,
            searching: false,
            paging: false,
            info: false
        });
    });
</script>

<table id="order-list" class="table table-sm table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr>
            <th>W/B #</th>
            <th>Date</th>
            <th>Svc.</th>
            <th>Ref #</th>
            <th>Unit/Qty</th>
            <th>Spc/Ins</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Biller</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DispatchedOrders.Where(c=>c.OrderStatus=="0" && c.OrderTypeId==1).ToList().OrderByDescending(c => c.WayBillNumber))
        {
            <tr >
                <td>
                    <div class="form-check-inline">
                        <input type="checkbox" id="chkDispatchToEmployee" class="form-check-input chkDispatchToEmployee" name="chkDispatchToEmployee" data-waybillnumber="@item.WayBillNumber">
                        <a class="btnEdit" href="#" data-waybillnumber='@item.WayBillNumber' data-toggle="modal" > <label class="form-check-label" for="chkDispatchToEmployee">@item.WayBillNumber</label></a>
                    </div>
                </td>
                <td>
                    @item.OrderDateString
                </td>
                <td>
                    @item.DeliveryOptionName
                </td>
                <td>
                    @item.CustomerRefNumber
                </td>
                <td>
                    @item.UnitQuantity (@item.UnitTypeName)
                </td>
                <td>
                    @item.SpcIns
                </td>
                <td>
                    (@item.ShipperCustomerId) @item.ShipperCustomerName
                </td>
                <td>
                    (@item.ConsigneeCustomerId) @item.ConsigneeCustomerName
                </td>
                <td>
                    (@item.BillerCustomerId) @item.BillerCustomerName
                </td>

                <td>
                    <button id="btnEdit" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-ghost-primary btnEdit" type="button" title="Edit" data-target="#newOrder" data-toggle="modal"><i class="fa fa-edit"></i></button>
                    <button id="btnDelete" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-ghost-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button" title="Delete"><i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="~/js/order.js"></script>
