@using LogisticsManagement_Web.Models;
@model ViewModel_DeliveryOrder

<div class="row">
    @foreach (var emp in Model.Employees)
    {
        var orders = Model.DispatchedOrders.Where(c => c.DispatchedToEmployeeId == emp.Id);
        if (orders.Count() < 1)
        {
            continue;
        }

        <div class="col-4" style="margin-bottom:20px">
            <div style="overflow-y:scroll; overflow-x:scroll; display:block; height:115px;margin:5px;border:1px solid #9fecfd;background-color:#fff">
                <table class="table-striped" style="width:450px; margin-left:3px">
                    <thead>
                        <tr style="color:#1052f1; height:22px">
                            <th colspan="3">
                                <button class="btn-primary smallGridIcon btnPickup" title="Pick up" data-toggle="modal">
                                    <i class="fa fa-arrow-circle-up"></i>
                                </button>
                                <button class="btn-warning smallGridIcon btnPasson" title="Pass on" data-toggle="modal">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                                <button class="btn-success smallGridIcon btnDeliver" title="Deliver" data-toggle="modal">
                                    <i class="fa fa-check-circle"></i>
                                </button>
                                <button class="btn-danger smallGridIcon btnRemoveDispatch" title="Remove this dispatch" text-align:center;">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </th>
                            <th colspan="5">(@orders.First().DispatchedToEmployeeId) @orders.First().DispatchedToEmployeeName  @orders.First().DispatchedToEmployeePhone</th>
                        </tr>
                        <tr style="background-color:#e3f4f8">
                            <th style="text-align:center; width:60px">W/B #</th>
                            <th style="text-align:center; width:30px">Type</th>
                            <th style="text-align:center; width:30px">SVC</th>
                            <th style="text-align:center; width:50px">Unit</th>
                            <th>Shipper</th>
                            <th>Consignee</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in orders)
                        {
                            <tr style="background-color:@item.RowColorCode">
                                <td style="text-align:center; width:60px">
                                    
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="rdoWaybillNo" id="chkWayBillNumber" data-orderid="@item.OrderId" data-waybillnumber="@item.WayBillNumber" />
                                        <a class="btnEdit" href="#" data-waybillnumber='@item.WayBillNumber' data-toggle="modal" style="cursor:pointer"><label class="form-check-label" style="cursor:pointer">@item.WayBillNumber</label></a>
                                    </div>
                                </td>
                                <td style="text-align:center; width:30px"><span title="S: Single Order; R: Return Order">@item.OrderTypeFlag</span></td>
                                <td style="text-align:center; width:30px">@item.DeliveryOptionCode</td>
                                <td style="text-align:center; width:50px">@item.UnitQuantity (@item.UnitTypeName)</td>
                                <td title="@item.ShipperCustomerName">
                                    @{
                                        if (item.ShipperCustomerName.Length > 15)
                                        {
                                            @item.ShipperCustomerName.Substring(0, 15);
                                        }
                                        else
                                        {
                                            @item.ShipperCustomerName;
                                        }
                                    }
                                </td>
                                <td title="@item.ConsigneeCustomerName">
                                    @{
                                        if (item.ConsigneeCustomerName.Length > 15)
                                        {
                                            @item.ConsigneeCustomerName.Substring(0, 12);
                                        }
                                        else
                                        {
                                            @item.ConsigneeCustomerName;
                                        }
                                    }
                                </td>
                                <td>@item.OrderStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>



<script src="~/js/order-dispatched-orders.js"></script>