@using LogisticsManagement_Web.Models;
@model ViewModel_DeliveryOrder

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#order-list')) {
            $('#order-list').DataTable().destroy();
        }
        $('#order-list').DataTable({
            "order": [[0, "desc"]],
            "columns": [{ "orderable": false }, null, null, null, null, null, null, null, null, null],
            "lengthChange": false,
            searching: false,
            paging: false,
            info: false
        });
    });
</script>

<table id="order-list" class="table table-sm table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr>
            <th>
                <div class="form-check-inline">
                    @{
                        var wayBillArray = Model.DispatchedOrders.Where(c => c.OrderStatus == "0" && c.OrderTypeId == 1).ToList().Select(c => c.WayBillNumber).Distinct().ToArray();
                        string wayBillArrayString = "";
                        foreach (var wb in wayBillArray)
                        {
                            wayBillArrayString += wb + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline" id="chkCheckAllOrders" />
                    <input type="hidden" id="hfWaybillArray" value="@wayBillArrayString" />
                    <label class="form-check-label">W/B #</label>
                </div>
            </th>

            <th>Date</th>
            <th>Svc.</th>
            <th>Ref #</th>
            <th>Unit/Qty</th>
            <th>Spc/Ins</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Biller</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DispatchedOrders.Where(c => c.OrderStatus == "0" && c.OrderTypeId == 1).ToList().OrderByDescending(c => c.WayBillNumber))
        {
            <tr>
                <td>
                    <div class="form-check-inline">
                        <input type="checkbox" id="chkDispatchToEmployee" class="form-check-input chkDispatchToEmployee" name="chkDispatchToEmployee" data-waybillnumber="@item.WayBillNumber">
                        <a class="btnEdit" href="#" data-waybillnumber='@item.WayBillNumber' data-toggle="modal" style="cursor:pointer"><label class="form-check-label" style="cursor:pointer">@item.WayBillNumber</label></a>
                    </div>
                </td>
                <td>
                    @item.OrderDateString
                </td>
                <td>
                    @item.DeliveryOptionCode
                </td>
                <td>
                    @item.CustomerRefNumber
                </td>
                <td>
                    @{
                        if (item.SkidQuantity > 0)
                        {
                            @item.SkidQuantity;<span> (SKD);</span>
                        }

                        if (item.UnitQuantity > 0)
                        {
                            <span>
                                @item.UnitQuantity (@item.UnitTypeName)
                            </span>
                        }
                    }
                </td>
                <td>
                    @item.SpcIns
                </td>
                <td>
                    (@item.ShipperCustomerId) @item.ShipperCustomerName
                </td>
                <td>
                    (@item.ConsigneeCustomerId) @item.ConsigneeCustomerName
                </td>
                <td>
                    (@item.BillerCustomerId) @item.BillerCustomerName
                </td>

                <td>
                    <button id="btnEdit" data-waybillnumber='@item.WayBillNumber' class="btn-primary smallGridIcon btnEdit" type="button" title="Edit" data-target="#newOrder" data-toggle="modal"><i class="fa fa-pencil"></i></button>
                    <button id="btnDelete" data-waybillnumber='@item.WayBillNumber' class="btn-danger smallGridIcon btnDelete" data-toggle="modal" data-target="#alert-modal" type="button" title="Delete"><i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script src="~/js/order.js"></script>