@using LogisticsManagement_Web.Models;
@model DeliveryOrderViewModel

@{
    ViewData["Title"] = "Order";
}

<style>
    .form-control {
        padding: 4px 4px 4px 8px;
        height: 29px;
    }
</style>
<form id="frmOrderForm">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header" style="background-color: #365396;color: #fff;">
                    <strong><i class="fa fa-sliders"></i> Order</strong>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-8">

                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card" style="border-color: #077eef; background-color:#d6f8ff">
                                                <div class="card-body" style="padding:5px">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group" style="margin-bottom:0px; padding-left:10px">
                                                                <label for="rdoPaidBy" style="margin-bottom:0px"><strong> Paid by</strong></label><br />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="form-group" style="margin-bottom:0px">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" id="rdoShipper" type="radio" value="1" name="rdoPaidBy" checked>
                                                                    <label class="form-check-label" for="rdoShipper" style="margin-bottom:0px"> Shipper</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" id="rdoConsignee" type="radio" value="2" name="rdoPaidBy">
                                                                    <label class="form-check-label" for="rdoConsignee" style="margin-bottom:0px"> Consignee</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" id="rdoThirdparty" type="radio" value="3" name="rdoPaidBy">
                                                                    <label class="form-check-label" for="rdoThirdparty" style="margin-bottom:0px"> 3rd Pty</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="ddlBillerId">
                                                <option value="0"> Bill to </option>
                                                @foreach (var item in Model.Customers)
                                                {
                                                    <option value="@item.Id">@item.CustomerName</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" id="txtBillerCustomerNo" type="number" name="txtBillerCustomerNo" placeholder="Customer no." title="Biller customer id">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" id="txtWayBillNo" type="number" name="txtWayBillNo" placeholder="W/B"  title="Waybill number">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input class="form-control" id="txtCustomerRefNo" name="txtCustomerRefNo" type="text" placeholder="Cust. ref#" title="Customer ref #">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input class="form-control" id="txtCargoCtlNo" type="text" name="txtCargoCtlNo" placeholder="Cargo ctl#" title="Cargo ctl#">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input class="form-control" id="txtAwbCtnNo" type="text" name="txtAwbCtnNo" placeholder="AWB/CTN#" title="AWB/CTN#">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <select class="form-control" id="ddlDeliveryOptionId" name="ddlDeliveryOptionId" style="background-color:#deffef; font-weight:500">
                                        @foreach (var deliveryOption in Model.DeliveryOptions)
                                        {
                                            <option value="@deliveryOption.Id">@deliveryOption.OptionName - (@deliveryOption.ShortCode) </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header" style="padding:3px 3px 5px 9px;  background-color:#b5ccdc; color:#000">
                                            <strong>  <i class="fa fa-send"></i> Shipper </strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="ddlShipperId" name="ddlShipperId">
                                                        <option value="0"> Shipper </option>
                                                        @foreach (var item in Model.Customers)
                                                        {
                                                            <option value="@item.Id">@item.CustomerName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="txtShipperCustomerNo" type="text" name="txtShipperCustomerNo" placeholder="Customer no."  title="Shipper customer id">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <input class="form-control" id="txtShipperAddressline" type="text" name="txtShipperAddressline" placeholder="Address line" title="Address line" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <input class="form-control" id="txtShipperUnitNo" type="text" name="txtShipperUnitNo" placeholder="Unit" title="Unit number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="ddlShipperCityId" name="ddlShipperCityId">
                                                        <option value="0"> City  </option>
                                                        @foreach (var item in Model.Cities)
                                                        {
                                                            <option value="@item.Id">@item.CityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="ddlShipperProvinceId" name="ddlShipperProvinceId">
                                                        <option value="0"> Province </option>
                                                        @foreach (var item in Model.Provinces)
                                                        {
                                                            <option value="@item.Id">@item.ShortCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control" id="txtShipperPostcode" type="text" name="txtShipperPostcode" placeholder="Postcode" title="Postcode" />
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header" style="padding:3px 3px 5px 9px;  background-color:#b5ccdc; color:#000">
                                            <strong>  <i class="fa fa-send"></i> Consignee </strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="ddlConsigneeId" name="ddlConsigneeId">
                                                        <option value="0"> Consignee </option>
                                                        @foreach (var item in Model.Customers)
                                                        {
                                                            <option value="@item.Id">@item.CustomerName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="txtConsigneeCustomerNo" type="text" name="txtConsigneeCustomerNo" placeholder="Customer no." title="Consignee customer id">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <input class="form-control" id="txtConsigneeAddressline" type="text" name="txtConsigneeAddressline" placeholder="Address line" title="Address line" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <input class="form-control" id="txtConsigneeUnitNo" type="text" name="txtConsigneeUnitNo" placeholder="Unit" title="Unit number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="ddlConsigneeCityId" name="ddlConsigneeCityId">
                                                        <option value="0">City </option>
                                                        @foreach (var item in Model.Cities)
                                                        {
                                                            <option value="@item.Id">@item.CityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="ddlConsigneeProvinceId" name="ddlConsigneeProvinceId">
                                                        <option value="0">Province</option>
                                                        @foreach (var item in Model.Provinces)
                                                        {
                                                            <option value="@item.Id">@item.ShortCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control" id="txtConsigneePostcode" type="text" name="txtConsigneePostcode" placeholder="Postcode" title="Postcode" />
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header" style="padding:3px 3px 5px 9px;  background-color:#faebd7; color:#000">
                                            <strong> <i class="fa fa-list"></i> Additional services </strong>
                                        </div>
                                        <div class="card-body" style="padding:0px">
                                            <div class="row" style="max-height:189px;margin:0px; overflow-y:scroll">
                                                <div class="col-sm-12">
                                                    <table id="service-list" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
                                                        <thead style="background-color:#ffa7a7">
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                                <th>Pay driver</th>
                                                                <th>Driver %</th>
                                                                <th>Fee</th>
                                                                <th>GST?</th>
                                                                <th>Add?</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.AdditionalServices)
                                                            {
                                                            <tr>
                                                                <td>@item.ServiceCode</td>
                                                                <td>@item.ServiceName</td>
                                                                <td>
                                                                    <input type="checkbox" id="chkPayToDriver" name="chkPayToDriver" checked="@item.PayToDriver" disabled />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" id="txtDriverPercentage" name="txtDriverPercentage" title="Driver portion of the fee" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" id="txtServiceFee" name="txtServiceFee" title="Applicable service fee amount" />
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" id="chkIsGstApplicableForService" name="chkIsGstApplicableForService" checked="@item.IsTaxApplicable" />
                                                                </td>
                                                                
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" id="chkAddService" type="checkbox" data-serviceid="@Json.Serialize(item)" title="Tick to add a service to the order">
                                                                            <label class="form-check-label" for="chkAddService"> Yes</label>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card" style="background-color:#e5f5fd">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Transport</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="rdoTruck" type="radio" value="1" name="rdoVehicleType" checked>
                                                        <label class="form-check-label" for="rdoTruck">Truck</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="rdoVan" type="radio" value="2" name="rdoVehicleType">
                                                        <label class="form-check-label" for="rdoVan">Van</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="rdoCar" type="radio" value="3" name="rdoVehicleType">
                                                        <label class="form-check-label" for="rdoCar">Car</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Unit/weight</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="ddlUnitTypeId" name="ddlUnitTypeId">
                                                        <option value="0" selected> </option>
                                                        @foreach (var item in Model.UnitTypes)
                                                        {
                                                            var selected = item.IsDefault;
                                                            <option value="@item.Id" selected="@item.IsDefault">@item.ShortCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtUnitQuantity" type="number" name="txtUnitQuantity" placeholder="Qty" title="Unit quantity">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="ddlWeightScaleId" name="ddlWeightScaleId">
                                                        <option value="0" selected> </option>
                                                        @foreach (var item in Model.WeightScales)
                                                        {
                                                            var selected = item.IsDefault;
                                                            <option value="@item.Id" selected="@selected">@item.ShortCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtWeightTotal" type="number" name="txtWeightTotal" placeholder="Qty" >
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Pickup date</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="txtSchedulePickupDate" type="date" title="Schedule pickup date" name="txtSchedulePickupDate" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="txtSchedulePickupTime" type="time" title="Pickup time" name="txtSchedulePickupTime">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Variables</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtFuelSurchargeAmount" type="number" name="txtFuelSurchargeAmount" value="@Model.Configuration.DefaultFuelSurcharge" placeholder="Fuel surcharge" title="Fuel surcharge amount (%)">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtDiscountAmount" type="number" name="txtDiscountAmount" placeholder="Discount (%)" title="Discount amount (%)">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Ordered by</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtContactPerson" type="text" name="txtContactPerson" placeholder="Person name" title="Contact person name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtContactPhone" type="text" name="txtContactPhone" placeholder="Phone" title="Contact person phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="txtRemarks">Remarks</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class=" form-group">
                                                        <textarea class="form-control" id="txtRemarks" type="text" name="txtRemarks" placeholder="Remarks"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="chkPrintOption">Options</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class=" form-group">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" id="chkIsGstApplicable" type="checkbox">
                                                            <label class="form-check-label" for="chkIsGstApplicable"> @Model.Configuration.TaxToCall - </label>
                                                           
                                                            <label class="form-check-label" id="lblGstAmount"> @Model.Configuration.TaxAmount </label>%
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class=" form-group">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" id="chkPrintOption" type="checkbox">
                                                            <label class="form-check-label" for="chkPrintOption">Print after Save</label>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Order cost</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOrderCost" type="number" name="txtOrderCost" title="Order cost" placeholder="Basic cost" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOrderSurcharge" type="number" name="txtOrderSurcharge" title="Order surcharge" placeholder="Surcharge" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOrderGST" type="number" name="txtOrderGST" title="Order GST amount" placeholder="GST " readonly>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="ordertype">Override cost</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOverrideOrderCost" type="number" name="txtOverrideOrderCost" placeholder="Basic cost" title="Override Order cost">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOverrideOrderSurcharge" type="number" name="txtOverrideOrderSurcharge" placeholder="Surcharge" title="Final surcharge" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" form-group">
                                                        <input class="form-control" id="txtOverrideOrderGST" type="number" name="txtOverrideOrderGST" title="Final GST amount" placeholder="GST" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="margin-bottom:0px; background-color:antiquewhite">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        Basic cost<input class="form-control" id="txtGrandBasicCost" type="number" name="txtGrandBasicCost" title="Basic total" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        Discount<input class="form-control" id="txtGrandDiscountAmount" type="number" name="txtGrandDiscountAmount" title="Discount amount" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        GST<input class="form-control" id="txtGrandGstAmount" type="number" name="txtGrandGstAmount" title="GST amount" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        Fuel surcharge<input class="form-control" id="txtGrandFuelSurchargeAmount" type="number" name="txtGrandFuelSurchargeAmount" title="Fuel surcharge amount" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        Total cost<input class="form-control" id="txtGrandTotalOrderCost" type="number" name="txtGrandTotalOrderCost" title="Total order cost" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class=" form-group">
                                                                        Add. Service<input class="form-control" id="txtGrandAddServiceAmount" type="number" name="txtGrandAddServiceAmount" title="Total additional service cost" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class=" form-group">
                                                                        Grand Total<input class="form-control" id="txtGrandTotalAmount" type="number" name="txtGrandTotalAmount" title="Grand total amount" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <hr />
                    <button type="reset" class="btn btn-primary" id="btnNew"><i class="fa fa-plus-circle"></i> New</button>
                    <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="background-color: #c3c3c3;">
                <strong><i class="fa fa-sliders"></i> Orders</strong>
                <div class="card-header-actions">
                    <span id="spinnerLoadingDataTable" style="display:none">
                        <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                        <span style="margin-right:20px">Loading...</span>
                    </span>
                    <button id="btnDownloadData" type="button" class="btn btn-sm btn-primary" title="Load existing data" style="padding:0px 5px 0px 5px"><i class="fa fa-download"></i></button>
                    <span style="display:none" id="loadingSpinner"><i class="fa fa-circle-o-notch"></i></span>
                    <span>&nbsp;&nbsp;</span>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div class="collapse show" id="collapseDatatable">
                <div class="card-body">
                    <div id="loadDataTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/order.js"></script>










