@using LogisticsManagement_Web.Models;
@model ViewModel_DeliveryOrder


@{
    ViewData["Title"] = "DISPATCH BOARD";
}

<style>
    

    
</style>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">

<div class="modal fade" id="orderPickup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title"> PICKUP </label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="" style="text-transform:uppercase; font-weight:600">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-2">
                            <label for="txtWayBillNoForPickupModal">W/B #</label>
                            <input type="hidden" id="hfOrderIdForOrderStatusUpdate" />
                            <input class="form-control form-control-sm frmfontsize" placeholder="W/B #" id="txtWayBillNoForPickupModal" type="number" name="txtWayBillNoForPickupModal" readonly>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtDispatchDateTimeForPickupModal">Dispatch date and time</label>
                            <input type="datetime-local" id="txtDispatchDateTimeForPickupModal" class="form-control form-control-sm  frmfontsize txtDispatchDateTimeForPickupModal" readonly />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtDispatchEmployeeNameForPickupModal">Dispatched to</label>
                            <input type="text" id="txtDispatchEmployeeNameForPickupModal" class="form-control form-control-sm  frmfontsize txtDispatchEmployeeNameForPickupModal" readonly />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="txtPickupDateTime">Pickup date and time</label>
                            <input type="datetime-local" id="txtPickupDateTime" class="form-control form-control-sm  frmfontsize txtPickupDateTime" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtPickupWaitTime">Wait time (hour)</label>
                            <input type="number" id="txtPickupWaitTime" class="form-control form-control-sm frmfontsize txtPickupWaitTime" placeholder="Wait time" min="0" step=".01" title="Wait time (in hours)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSavePickup"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" id="btnRemovePickup"><i class="fa fa-trash"></i> UNDO PICKUP </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="orderPassOn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title">PASS-ON</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="" style="text-transform:uppercase; font-weight:600">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-2">
                            <label for="txtWayBillNoForPassOnModal">W/B #</label>
                            <input class="form-control form-control-sm frmfontsize" placeholder="W/B #" id="txtWayBillNoForPassOnModal" type="number" name="txtWayBillNoForPassOnModal" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-sm-4">
                            <label for="txtDispatchDateTimeForPassOnModal">DISPATCH DATE</label>
                            <input type="datetime-local" id="txtDispatchDateTimeForPassOnModal" class="form-control form-control-sm frmfontsize txtDispatchDateTimeForPassOnModal" readonly />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtPickupDateTimeForPassOnModal">PICKUP DATE</label>
                            <input type="datetime-local" id="txtPickupDateTimeForPassOnModal" class="form-control form-control-sm frmfontsize txtPickupDateTimeForPassOnModal" readonly />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtDispatchEmployeeNameForPassOnModal">DISPATCHED TO</label>
                            <input type="text" id="txtDispatchEmployeeNameForPassOnModal" class="form-control form-control-sm frmfontsize txtDispatchEmployeeNameForPassOnModal" readonly />
                        </div>

                    </div>
                    <div class="row ">
                        <div class="form-group col-sm-4">
                            <label for="txtPassOnDateTime">PASS-ON DATE</label>
                            <input type="datetime-local" id="txtPassOnDateTime" class="form-control form-control-sm frmfontsize txtPassOnDateTime" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtPassOnEmployeeName">PASS-ON TO</label>
                            <div class="row mb-1 ">
                                <div class="col-sm-12 input-group">
                                    <input type="search" id="txtPassOnEmployeeName" name="txtPassOnEmployeeName" class="form-control form-control-sm frmfontsize txtPassOnEmployeeName" placeholder="Employee name" list="dlPassOnEmployees" />
                                    <datalist id="dlPassOnEmployees">
                                        @foreach (var employee in Model.Employees)
                                        {
                                            <option data-employeeid="@employee.Id" value="@employee.FirstName"></option>
                                        }
                                    </datalist>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3 form-group">
                            <label for="txtPassOnWaitTime">WAIT TIME (HR)</label>
                            <input type="number" id="txtPassOnWaitTime" class="form-control form-control-sm frmfontsize txtPassOnWaitTime" placeholder="Wait time" min="0" step=".01" title="Wait time (in hours)" />
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSavePassOn"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" id="btnRemovePassOn"><i class="fa fa-trash"></i> UNDO PASS-ON</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="orderDeliver" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title">ORDER DELIVERY</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="" style="text-transform:uppercase; font-weight:600">
                <div class="modal-body">
                    <div class="row mb-4">
                        <div class="form-group col-sm-2">
                            <label for="txtWayBillNoForDeliverModal">W/B number</label>
                            <input class="form-control form-control-sm frmfontsize" placeholder="W/B #" id="txtWayBillNoForDeliverModal" type="number" name="txtWayBillNoForDeliverModal" readonly>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="lblShipperInfo">Shipper</label>
                            <div style="border:1px solid #acb5bc">
                                <label id="lblShipperInfo" style="font-size:.8em; text-transform:uppercase !important;margin-bottom:0px !important; padding-left:5px"></label>
                            </div>

                        </div>
                        <div class="form-group col-sm-5">
                            <label for="lblConsigneeInfo">Consignee</label>
                            <div style="border:1px solid #acb5bc">
                                <label id="lblConsigneeInfo" style="font-size:.8em; text-transform:uppercase !important;margin-bottom:0px !important; padding-left:5px"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-sm-4">
                            <label for="txtDispatchDateTimeForDeliverModal">Dispatch date and time</label>
                            <input type="datetime-local" id="txtDispatchDateTimeForDeliverModal" class="form-control form-control-sm frmfontsize txtDispatchDateTimeForDeliverModal" readonly />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtPickupDateTimeForDeliverModal">Pickup date and time</label>
                            <input type="datetime-local" id="txtPickupDateTimeForDeliverModal" class="form-control form-control-sm frmfontsize txtPickupDateTimeForDeliverModal" readonly />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtDispatchEmployeeNameForDeliverModal">Dispatched to</label>
                            <input type="text" id="txtDispatchEmployeeNameForDeliverModal" class="form-control form-control-sm frmfontsize txtDispatchEmployeeNameForDeliverModal" readonly />
                        </div>
                        @*<div class="col-sm-2 form-group">
                                    <label for="txtPassOnEmployeeNameForDeliverModal">Pass-on to</label>
                                    <input type="text" id="txtPassOnEmployeeNameForDeliverModal" class="form-control form-control-sm txtPassOnEmployeeNameForDeliverModal" readonly />
                            </div>*@

                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-sm-6">
                            <label for="txtReceivedByName">Received By </label>
                            <input type="text" id="txtReceivedByName" name="txtReceivedByName" class="form-control form-control-sm frmfontsize txtReceivedByName" placeholder="Received by (Name)" title="Received by (Name)" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtDeliveryNote">Notes</label>
                            <textarea id="txtDeliveryNote" class="form-control form-control-sm frmfontsize txtDeliveryNote" placeholder="Delivery note" title="Delivery note" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="txtDeliveryDateTime">Delivery Date</label>
                            <input type="datetime-local" id="txtDeliveryDateTime" class="form-control form-control-sm frmfontsize txtDeliveryDateTime" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtDeliveryWaitTime">Wait time (hour)</label>
                            <input type="number" id="txtDeliveryWaitTime" class="form-control form-control-sm frmfontsize txtDeliveryWaitTime" placeholder="Wait time" min="0" step=".01" title="Wait time (in hours)" />
                        </div>
                    </div>

                    <!--<div class="row mb-3">
                            <div class="form-group col-sm-12">
                                <label for="txtReceivedBySign">Signature </label>
                                <canvas id="signatureCanvas" class="card" height="80"></canvas>
                                <span style="float:left">
                                    <button type="button" class="btn btn-sm btn-secondary" id="btnOk"><i class="fa fa-check"></i> Accept </button>
                                    <button type="button" class="btn btn-sm btn-secondary" id="btnCancel"><i class="fa fa-times"></i> Erase</button>
                                    <input type="hidden" id="imgSignature" />
                                </span>
                            </div>
                        </div> -->
                </div>
                <div class="modal-footer">
                    <div class="form-check-inline mr-5">
                        <input class="form-check-input" type="checkbox" id="chkPrintWaybill" checked />
                        <label class="form-check-label"> Print WB </label>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSaveDeliver"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnClose"><i class="fa fa-trash"></i> CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="dispatchOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title">DISPATCH ORDER</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="" style="text-transform:uppercase; font-weight:600">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-4">
                            <label class="mr-4">WB #</label>
                            <label id="lblOrderNumbers" style="color:#c70101; font-size:1.1em"></label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-sm-6">
                            <label for="txtEmployeeName">Select employee/driver</label>
                            <input type="search" id="txtEmployeeName" name="txtEmployeeName" class="form-control form-control-sm frmfontsize txtEmployeeName" placeholder="Select employee/driver" list="dlEmployees" />
                            <datalist id="dlEmployees">
                                @foreach (var employee in Model.Employees)
                                {
                                    <option data-employeeid="@employee.Id" value="(@employee.Id) @employee.FirstName"></option>
                                }
                            </datalist>
                        </div>
                        <div class="form-group col-sm-4" style="display:none">
                            <label for="txtDispatchDatetimeForNewOrders">Dispatch date</label>
                            <input class="form-control form-control-sm  frmfontsize" id="txtDispatchDatetimeForNewOrders" type="datetime-local" min="1" name="txtDispatchDatetimeForNewOrders">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="txtOrderPortionForNewOrders">Agreed rate</label>
                            <div class="input-group">
                                <select class=" col-sm-5 form-control form-control-sm" id="ddlShareType"><option value="0">Fixed</option><option value="1">Pct.(%)</option></select>
                                <input class="form-control form-control-sm  frmfontsize" id="txtOrderPortionForNewOrders" type="number" name="txtOrderPortionForNewOrders" placeholder="Agreed rate">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3" style="display:none">
                        <div class="form-group col-sm-12">
                            <label for="txtVehicleName">Select vehicle</label>
                            <input class="form-control form-control-sm frmfontsize" placeholder="Vehicle ref #" id="txtVehicleName" type="search" name="txtVehicleName" list="dlVehicles">
                            <datalist id="dlVehicles"></datalist>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="txtEmailAddressForDispatch">Email address</label>
                            <div class="input-group">
                                <input class="form-control form-control-sm frmfontsize" id="txtEmailAddressForDispatch" type="text" name="txtEmailAddressForDispatch" placeholder="Email address">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="form-check-inline mr-4">
                        <input type="checkbox" id="chkSendEmail" class="form-check-input" />
                        <small><b><label class="form-check-label" for="chkSendEmail"> Send email</label></b></small>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" id="btnDispatchToEmployee" title="Dispatch this order"><i class="fa fa-arrow-circle-right"></i> DISPATCH THIS ORDER</button>
                    <button type="button" class="btn btn-sm btn-secondary" id="btnClose"> CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="prePrintedWaybill" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title">PRE-PRINTED WAYBILL</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="" style="text-transform:uppercase; font-weight:600">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-4">
                            <label for="txtFromNo">Starting #</label>
                            <input type="text" id="txtFromNo" name="txtFromNo" class="form-control form-control-sm frmfontsize txtFromNo" placeholder="Starting WB #" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtToNo">Ending #</label>
                            <input type="text" id="txtToNo" name="txtToNo" class="form-control form-control-sm  frmfontsize txtToNo" placeholder="Ending WB #" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" id="btnPrintPrePrintedWaybill"><i class="fa fa-print"></i> PRINT </button>
                    @*<button type="button" class="btn btn-sm btn-secondary" id="btnClose"><i class="fa fa-trash"></i> CLOSE</button>*@
                </div>
            </form>
        </div>
    </div>
</div>

<form id="frmCustomerForm" class="form-inline">
    <div class="modal fade" id="addNewCustomer" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title"> CUSTOMER </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseCustomerModal1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-2">
                        <input type="hidden" id="hfMailingAddressId" name="hfMailingAddressId" />
                        <input type="hidden" id="hfBillingAddressId" name="hfBillingAddressId" />
                        <input type="hidden" id="hfBillingAddressMappingId" name="hfBillingAddressMappingId" />
                        <input type="hidden" id="hfShippingAddressMappingId" name="hfShippingAddressMappingId" />
                        <div class="col-12 input-group">
                            <label for="txtCustomerName" class="captionWeight mr-3">NAME</label>
                            <input class="col-10 form-control form-control-sm frmfontsize" id="txtCustomerName" placeholder="Customer name" type="text" name="txtCustomerName" title="Customer name" />
                            <input class="col-1 form-control form-control-sm frmfontsize" id="txtCustomerId" type="number" min="1" name="txtCustomerId" readonly>
                        </div>
                    </div>

                    <div class="row mb-2 ml-0">
                        <div class="form-group mr-4">
                            <label for="txtFuelSurcharge" class="captionWeight mr-4">FUEL</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtFuelSurcharge" placeholder="Fuel (%)" type="number" max="100" step=".01" name="txtFuelSurcharge" value="@ViewBag.DefaultFuelSurcharge" title="Fuel surcharge" />
                        </div>
                        <div class="form-group mr-4">
                            <label for="txtSpecialDiscount" class="captionWeight mr-2"> DISC.(%)</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtSpecialDiscount" placeholder="Disc. (%)" type="number" max="100" step=".01" name="txtSpecialDiscount" title="Discount (%)" />
                        </div>
                        <div class="form-group mr-4">
                            <label for="txtInvoiceDueDays" class="captionWeight mr-2"> INV. DUE DAY/S</label>
                            <input style="width:100px" class="form-control form-control-sm frmfontsize" id="txtInvoiceDueDays" placeholder="Days" type="text" name="txtInvoiceDueDays" title="Invoice due days" />
                        </div>
                        <div class="form-group">
                            <label for="isGstApplicable" class="captionWeight mr-3"> APPLY HST?</label>
                            <input id="isGstApplicable" type="checkbox" name="isGstApplicable" title="Apply HST" class="mr-1" /> <label class="captionWeight" for="isGstApplicable">YES</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" id="divAddress0">
                            <div class="row m-0 input-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoBothForMain" value="0" checked />
                                    <label class="form-check-label captionWeight" for="rdoBothForMain">BILLING/SHIPPING SAME</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoBillingForMain" value="1" />
                                    <label class="form-check-label captionWeight" for="rdoBillingForMain">BILLING ONLY</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoAddressTypeForMain" id="rdoShippingForMain" value="2" />
                                    <label class="form-check-label captionWeight" for="rdoShippingForMain">SHIPPING/RECEIVING ONLY</label>
                                </div>

                                <br /><br /><br />
                            </div>
                            <div class="row m-0 input-group">
                                <input type="hidden" id="hfAddressIdForMain" />
                                <input class="col-8 form-control form-control-sm frmfontsize" id="txtAddressLineForMain" name="txtAddressLineForMain" placeholder="Address Line" list="addresses" type="search" />
                                <datalist id="addresses">
                                    @*<option data-addressid="@item.AddressId" value="@item.AddressLine"></option>*@
                                </datalist>
                                <input class="col-4 form-control form-control-sm addressBox frmfontsize" id="txtAddressUnitForMain" type="text" name="txtAddressUnitForMain" placeholder="Unit " />
                            </div>
                            <div class="row m-0 input-group">
                                <select class="col-5 form-control form-control-sm frmfontsize" id="ddlCityIdForMain" name="ddlCityIdForMain">
                                    <option value="0">City </option>
                                    @foreach (var city in Model.Cities)
                                    {
                                        var selected = false;
                                        if (city.Id == 335)
                                        {
                                            selected = true;
                                        }
                                        <option value="@city.Id" selected="@selected">@city.CityName</option>
                                    }
                                </select>
                                <select class="col-2 form-control form-control-sm addressBox frmfontsize" id="ddlProvinceIdForMain" name="ddlProvinceIdForMain">
                                    <option value="0">Province</option>
                                    @foreach (var province in Model.Provinces)
                                    {
                                        var selected = false;
                                        if (province.Id == 7)
                                        {
                                            selected = true;
                                        }
                                        <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                                    }
                                </select>
                                <select class="col-3 form-control form-control-sm addressBox frmfontsize" id="ddlCountryIdForMain" name="ddlCountryIdForMain">
                                    <option value="0">Country</option>
                                    @foreach (var country in Model.Countries)
                                    {
                                        var selected = false;
                                        if (country.Id == 41)
                                        {
                                            selected = true;
                                        }
                                        <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                    }
                                </select>
                                <input class="col-2 form-control form-control-sm addressBox frmfontsize" id="txtPostCodeForMain" name="txtPostCodeForMain" placeholder="Postcode" />
                            </div>

                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm  frmfontsize" id="txtContactPersonForMain" type="text" name="txtContactPersonForMain" placeholder="Contact person" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtEmailAddressForMain" type="email" name="txtEmailAddressForMain" placeholder="Email address" />
                            </div>
                            <div class="row m-0 input-group">
                                <input class="col-6 form-control form-control-sm frmfontsize " id="txtPrimaryPhoneNumberForMain" type="tel" name="txtPrimaryPhoneNumberForMain" placeholder="Phone" />
                                <input class="col-6 form-control form-control-sm addressBox frmfontsize" id="txtFaxNumberForMain" type="tel" name="txtFaxNumberForMain" placeholder="Fax" />
                            </div>

                            <div class="row ml-0 mt-3 mb-3 input-group">
                                <div class="form-check-inline">
                                    <input class="form-check-input" id="chkIsActive" type="checkbox" checked />
                                    <label class="form-check-label ml-1" for="chkIsActive">MAKE THIS CUSTOMER ACTIVE</label>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSaveCustomer"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseCustomerModal2"><i class="fa fa-cross"></i> CLOSE </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="newOrder" tabindex="-1" role="dialog">
    <form id="frmOrderForm" style="text-transform:uppercase; font-weight:600" class="form-inline">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title">DELIVERY ORDER</label>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Modal - New Order -->
                    <input type="hidden" id="hfOrderId" class="hfOrderId" name="hfOrderId" />
                    <input type="hidden" id="hfBillerCustomerId" />
                    <input type="hidden" id="hfShipperAddressId" class="hfShipperAddressId" name="hfShipperAddressId" />
                    <input type="hidden" id="hfConsigneeAddressId" class="hfConsigneeAddressId" name="hfConsigneeAddressId" />
                    <input type="hidden" id="hfDispatchToEmployeeId" class="hfDispatchToEmployeeId" name="hfDispatchToEmployeeId" />

                    <div class="row ml-1 mb-2">
                        <div class="form-group mr-2">
                            <label for="" class="captionWeight">PAID BY</label>
                        </div>
                        <div class="col-sm-3 mr-3 paidBy">
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoShipper" value="1" checked>
                                    <label class="form-check-label" for="rdoShipper">Shipper</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoConsignee" value="2">
                                    <label class="form-check-label" for="rdoConsignee">Consingee</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoThirdParty" value="3">
                                    <label class="form-check-label" for="rdoThirdParty">3rd. Pty</label>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mr-1">
                            <label for="txtBillToCustomerName" class="captionWeight">BILL TO</label>
                        </div>
                        <div class="form-group mr-3">
                            <input class="form-control form-control-sm frmfontsize billToTextbox" id="txtBillToCustomerName" name="txtBillToCustomerName" placeholder="BILL TO" list="dlBillers" type="search" />
                            <datalist id="dlBillers">
                                @foreach (var item in Model.BillingCustomers)
                                {
                                    <option value="(@item.Id) - @item.CustomerName" data-customerid="@item.Id"></option>
                                }
                            </datalist>
                        </div>
                        <div class="form-group mr-1">
                            <label for="txtOrderedBy" class="captionWeight">ORDER BY</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm frmfontsize orderbyTextbox" placeholder="Ordered by" id="txtOrderedBy" name="txtOrderedBy" title="Ordered by">
                        </div>
                        <div class="form-group mr-2">
                            <label for="ddlDeliveryOptionId" class="captionWeight">SVC.</label>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm frmfontsize serviceDdl" id="ddlDeliveryOptionId" name="ddlDeliveryOptionId">
                                @foreach (var deliveryOption in Model.DeliveryOptions)
                                {
                                    <option value="@deliveryOption.Id" title="@deliveryOption.OptionName">@deliveryOption.OptionName - (@deliveryOption.ShortCode) </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="form-group mr-3">
                            <label id="lblWayBillNo" for="txtWayBillNo" class="captionWeight">W/B #</label>
                        </div>
                        <div class="form-group mr-3 ml-1">
                            <input class="form-control form-control-sm frmfontsize waybillNo" placeholder="W/B #" id="txtWayBillNo" type="number" name="txtWayBillNo">
                        </div>

                        <div class="form-group mr-1">
                            <label id="lblCustomerRefNo" for="txtCustomerRefNo" class="captionWeight">CUST. REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm refNumber frmfontsize" placeholder="Cust Ref" id="txtCustomerRefNo" name="txtCustomerRefNo" title="Customer ref #">
                        </div>

                        <div class="form-group mr-2">
                            <label id="lblPickupRefNo" for="txtPickupRefNo" class="captionWeight">PU REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm refNumber frmfontsize" placeholder="Pickup ref" id="txtPickupRefNo" name="txtPickupRefNo" title="Pickup ref #">
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblDeliveryRefNo" for="txtDeliveryRefNo" class="captionWeight">DL REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm delRefNumber frmfontsize" placeholder="Delivery ref" id="txtDeliveryRefNo" name="txtDeliveryRefNo" title="Delivery ref#">
                        </div>
                        <div class="form-group mr-1">
                            <label id="lblVehicleTypeId" for="ddlVehicleTypeId" class="captionWeight">DATE</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm frmfontsize serviceDdl" id="txtSchedulePickupDate" type="date" title="Order date" name="txtSchedulePickupDate">
                        </div>

                    </div>

                    <div class="row col-12 ml-0 col-no-padding">
                        <hr style="border-top:1px solid #e0e0e0; width:100%; margin-top:9px;margin-bottom:9px" />
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="row mb-1">
                                <div class="col-md-12 input-group">
                                    <input list="dlShipperCustomers" class="col-9 form-control form-control-sm frmfontsize col-no-margin" placeholder="Shipper name" id="txtShipperCustomerName" name="txtShipperCustomerName" type="search" />
                                    <datalist id="dlShipperCustomers">
                                        @foreach (var item in Model.Customers)
                                        {
                                            <option data-customerid="@item.Id" value="(@item.Id) - @item.CustomerName"></option>
                                        }
                                    </datalist>
                                    @*<label id="lblShipperAccountNo" class="form-control-plaintext"></label>*@
                                    <input type="text" class="col-2 form-control form-control-sm frmfontsize col-no-margin" placeholder="#####" id="txtShipperAccountNo" name="txtShipperAccountNo" readonly>
                                    <button type="button" class="col-1 col-1 btn btn-sm btn-secondary" placeholder="" id="btnAddShipperCustomer" readonly><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-9 form-control form-control-sm frmfontsize" placeholder="Address" id="txtShipperAddressLine" name="txtShipperAddressLine" list="dlShipperAddressLines" type="search" />
                                    <datalist id="dlShipperAddressLines"></datalist>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize" placeholder="Unit" id="txtShipperUnitNo" name="txtShipperUnitNo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <select class="col-5 form-control form-control-sm frmfontsize  col-no-margin" id="ddlShipperCityId" name="ddlShipperCityId" style="-webkit-appearance: none;">
                                        <option value="0"> City  </option>
                                        @foreach (var item in Model.Cities)
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    </select>

                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlShipperProvinceId" name="ddlShipperProvinceId" style="-webkit-appearance: none;">
                                        <option value="0"> Prov </option>
                                        @foreach (var item in Model.Provinces)
                                        {
                                            <option value="@item.Id">@item.ShortCode</option>
                                        }
                                    </select>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="POSTCODE" id="txtShipperPostcode" name="txtShipperPostcode">

                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlShipperCountries" name="ddlShipperCountries" style="-webkit-appearance: none;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row mb-1">
                                <div class="col-md-12 input-group">
                                    <input list="dlConsigneeCustomers" class="form-control form-control-sm frmfontsize col-no-margin" placeholder="Consignee name" id="txtConsigneeCustomerName" name="txtConsigneeCustomerName" type="search" />
                                    <datalist id="dlConsigneeCustomers">
                                        @foreach (var item in Model.Customers)
                                        {
                                            <option data-customerid="@item.Id" value="(@item.Id) - @item.CustomerName"></option>
                                        }
                                    </datalist>
                                    @*<label id="lblShipperAccountNo" class="form-control-plaintext"></label>*@
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="####" id="txtConsigneeAccountNo" name="txtConsigneeAccountNo" readonly>
                                    <button type="button" class="col-1 col-1 btn btn-sm btn-secondary" placeholder="" id="btnAddConsigneeCustomer" readonly><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-9 form-control form-control-sm frmfontsize col-no-margin" placeholder="Address" id="txtConsigneeAddressLine" name="txtConsigneeAddressLine" list="dlConsigneeAddressLines" type="search" />
                                    <datalist id="dlConsigneeAddressLines"></datalist>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="Unit" id="txtConsigneeUnitNo" name="txtConsigneeUnitNo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <select class="col-5 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeCityId" name="ddlConsigneeCityId" style="-webkit-appearance: none;">
                                        <option value="0"> City  </option>
                                        @foreach (var item in Model.Cities)
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    </select>
                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeProvinceId" name="ddlConsigneeProvinceId" style="-webkit-appearance: none;">
                                        <option value="0"> Prov </option>
                                        @foreach (var item in Model.Provinces)
                                        {
                                            <option value="@item.Id">@item.ShortCode</option>
                                        }
                                    </select>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="POSTCODE" id="txtConsigneePostcode" name="txtConsigneePostcode">
                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeCountries" name="ddlConsigneeCountries" style="-webkit-appearance: none;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row mb-1 ml-2">
                                <div class="form-group col-2 col-no-padding">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Qty" id="txtUnitQuantity" type="number" min="0" name="txtUnitQuantity" title="Enter unit qty." style="background-color:#dff5ff">
                                </div>
                                <div class="form-group col-3 col-no-padding">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Skids" id="txtSkidQuantity" type="number" min="0" name="txtSkidQuantity" title="Enter skid qty." style="background-color:#b3ffc3">
                                </div>
                                <div class="form-group col-2 col-no-padding">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlUnitTypeId" name="ddlUnitTypeId" disabled>
                                        @foreach (var item in Model.UnitTypes)
                                        {
                                            if (item.Id == 2)
                                            {
                                                continue;
                                            }
                                            <option value="@item.Id">@item.ShortCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-2  col-no-padding ml-3">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Wgt." id="txtWeightTotal" type="number" min="0" title="Enter weight total" name="txtWeightTotal" step=".01">
                                </div>
                                <div class="form-group col-2  col-no-padding">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlWeightScaleId" name="ddlWeightScaleId" style="-webkit-appearance: none;">
                                        @foreach (var item in Model.WeightScales)
                                        {
                                            var selected = item.IsDefault;
                                            <option value="@item.Id" selected="@selected">@item.ShortCode</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-1 ml-2">
                                <div class="col-md-6 input-group col-no-padding">
                                    <input type="text" class="col-11 form-control form-control-sm frmfontsize" placeholder="Cargo Ctl#" id="txtCargoCtlNo" name="txtCargoCtlNo" title="Cargo Ctl No">
                                </div>
                                <div class="col-md-6 input-group col-no-padding ">
                                    <input type="text" class="col-11 form-control form-control-sm frmfontsize" placeholder="Awb Ctn#" id="txtAwbCtnNo" name="txtAwbCtnNo" title="Awb Ctn No" style="width:107px">
                                </div>
                            </div>

                            <div class="row mb-1 ml-2">
                                <div class="form-group mr-1">
                                    <label id="lblFuelSurcharge" for="txtFuelSurchargePercent" class="captionWeight">FUEL</label>
                                </div>
                                <div class="form-group col-2 col-no-padding mr-4">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Sur." id="txtFuelSurchargePercent" type="number" step=".01" name="txtFuelSurchargePercent">
                                </div>
                                <div class="form-group mr-1">
                                    <label id="lblDiscountPercent" for="txtDiscountPercent" class="captionWeight">DISC.</label>
                                </div>
                                <div class="form-group col-2 col-no-padding mr-3">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Disc." id="txtDiscountPercent" step=".01" type="number" name="txtDiscountPercent">
                                </div>
                                <div class="form-group mr-1">
                                    <input type="checkbox" class="form-check-inline form-check-input" id="chkIsGstApplicable" name="chkIsGstApplicable" />
                                    <label class="captionWeight">@Model.Configuration.TaxToCall-</label><label class="form-check-inline form-check-label captionWeight" id="lblGstAmount">@Model.Configuration.TaxAmount</label>%
                                </div>

                            </div>




                        </div>
                    </div>

                    <div class="row ml-0 mt-3">
                        <div class="col-sm-9 pl-0">
                            <div class="row ml-0 mr-0">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width:175px">Additional service</th>
                                            <th style="width:106px;">Pay Driver</th>
                                            <th style="width:115px;">Srv. Charge</th>
                                            <th style="width:95px;">Driver %</th>
                                            <th style="width:102px;">Apply HST</th>
                                            <th style="width:95px; ">Update</th>
                                            <th style="width:135px; text-align:right;"><button style="width:135px" class="btn btn-sm btn-dark additionalServiceControl" id="btnAddAddtionalServiceRow"> <i class="fa fa-eyedropper"></i> Add service</button></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="row ml-0 mr-0">
                                <div class="col-12 service-list pl-0 pr-0" id="service-list" style="overflow-y:scroll; height:107px; display:block;border:1px solid #d0d0d0;">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnWayBill" name="chkIsPrintOnWayBill" class="form-check-input" />
                                    <label id="lblIsPrintOnWayBill" for="chkIsPrintOnWayBill" class="form-check-label">Print comments on W/B</label>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group">
                                        <textarea class="form-control form-control-sm" id="txtCommentsForWayBill" name="txtCommentsForWayBill" rows="1" cols="45" style="height:40px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnInvoice" name="chkIsPrintOnInvoice" class="form-check-input" />
                                    <label id="lblIsPrintOnInvoice" for="chkIsPrintOnInvoice" class="form-check-label">Print comments on Invoice</label>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group">
                                        <textarea class="form-control form-control-sm" id="txtCommentsForInvoice" name="txtCommentsForInvoice" rows="1" cols="45" style="height:40px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-0 mt-3">
                        <div class="col-sm-4 pl-0">
                            <div class="row ml-0">
                                <div class="form-group mr-4">
                                    <label class="mt-0 captionWeight">System Cost</label>
                                </div>
                                <div class="input-group mr-1">
                                    <input class="form-control form-control-sm frmfontsize" placeholder="Ord. Cost" id="txtBaseOrderCost" type="number" min="0" step=".01" name="txtBaseOrderCost" title="Order cost" style="width:100px" required readonly>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="Fuel" id="txtBaseOrderSurcharge" type="number" min="0" step=".01" name="txtBaseOrderSurcharge" title="Order surcharge" style="width:70px" readonly>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="HST" id="txtBaseOrderGST" type="number" min="0" step=".01" name="txtBaseOrderGST" title="Order HST amount" style="width:70px" readonly>
                                </div>

                            </div>
                            <div class="row ml-0 mt-2">
                                <div class="form-group mr-2">
                                    <label class="mt-0 captionWeight">Override Cost</label>
                                </div>
                                <div class="input-group mr-1">
                                    <input class="form-control form-control-sm frmfontsize" placeholder="Ord. Cost" id="txtOverriddenOrderCost" type="number" min="0" step=".01" name="txtOverriddenOrderCost" title="Overriden order cost" style="width:101px">
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="Fuel" id="txtOverriddenOrderSurcharge" type="number" min="0" step=".01" name="txtOverriddenOrderSurcharge" title="Overriden/final surcharge" style="width:70px" readonly>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="HST" id="txtOverriddenOrderGST" type="number" min="0" step=".01" name="txtOverriddenOrderGST" title="Overriden/final HST amount" style="width:70px" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-sm table-striped table-dark mb-1 text-center" style="width:715px">
                                <thead>
                                    <tr>
                                        <td scope="col"><small>Basic Cost</small></td>
                                        <td scope="col"><small>Fuel Surcharge</small></td>
                                        <td scope="col"><small>Sp. Discount</small></td>
                                        <td scope="col"><small>HST</small></td>
                                        <td scope="col"><small>Total Cost</small></td>
                                        <td scope="col"><small>Add. Charges</small></td>
                                        <th scope="col">Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:32px">
                                        <td scope="row">
                                            <label id="lblGrandBasicCost" name="lblGrandBasicCost" title="Basic total">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandFuelSurchargeAmount" name="lblGrandFuelSurchargeAmount" title="Fuel surcharge amount">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandDiscountAmount" type="number" min="0" name="lblGrandDiscountAmount" title="Discount amount">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandGstAmount" type="number" min="0" name="lblGrandGstAmount" title="HST amount">0.00</label>
                                        </td>

                                        <td><label id="lblGrandTotalOrderCost" type="number" min="0" name="lblGrandTotalOrderCost" title="Total order cost">0.00</label></td>
                                        <td><label id="lblGrandAddServiceAmount" type="number" min="0" name="lblGrandAddServiceAmount" title="Total additional service cost">0.00</label></td>
                                        <th class="bg-success">
                                            <label id="lblGrandTotalAmount" type="number" min="0" name="lblGrandTotalAmount" title="Grand total amount">0.00</label>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="chkIsReturnOrder" name="chkIsReturnOrder" title="Turn it on if you want to place a return order" data-toggle="toggle" data-on="<i class='fa fa-mail-forward'></i>  &nbsp;&nbsp; Single order" data-off="<i class='fa fa-mail-reply'></i>  &nbsp;&nbsp; Return order" data-onstyle="primary" data-offstyle="secondary" data-size="mini" data-width="160" data-height="28" data-style="mr-auto">
                    @*<input type="checkbox" id="chkIsCalculateByUnit" name="chkIsCalculateByUnit" title="Calculate by unit/skid" data-toggle="toggle" data-on="<i class='fa fa-balance-scale'></i> By unit" data-off="<i class='fa fa-stack-overflow'></i> By skid" data-onstyle="primary" data-offstyle="success" data-size="mini" data-width="90" data-height="28" data-style="toggleButtonByUnit" >*@

                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE </button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnClose"><i class="fa fa-cross"></i> CLOSE</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal - New Order -->



<div class="row">
    <div class="col-sm-6">
        <h4>
            @ViewData["Title"]
        </h4>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" id="txtInvoicedOrderNumber" placeholder="Enter released order" class="col-8 form-control form-control-sm" style="text-transform:capitalize !important" value="@ViewBag.routingOrderId" data-triggermodify="@ViewBag.isTriggerModify" />
            <button id="btnExistingInvoicedOrder" type="button" class="btn btn-sm btn-secondary" data-toggle="modal"><i class="fa fa-edit"></i> MODIFY</button>
        </div>

    </div>
    <div class="col-sm-1">
        <button id="btnPrePrintedWaybill" type="button" class="btn-secondary" title="Preprinted waybill" data-toggle="modal"><i class="fa fa-book"></i></button>
    </div>
    <div class="col-sm-2">
        <button id="btnNewOrder" type="button" class="btn btn-sm btn-danger form-control" title="Create a new order" data-toggle="modal"><i class="fa fa-plus-circle"></i> NEW ORDER </button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="display:block; height:250px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; font-size:.7em; background-color:#acb5bc" id="loadDispatchedOrders">
            <partial name="_PartialViewDispatchedOrders" />
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12" style="margin-top:20px">
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <button id="btnDispatch" type="button" class="btn btn-sm btn-primary" title="Dispatch" data-toggle="modal"><i class="fa fa-arrow-circle-right"></i> DISPATCH</button>
        &nbsp;
        <button class="btn btn-sm btn-secondary" id="btnDeliveredOrder">
            <span id="lblShowHide">SHOW</span> DELIVERED ORDERS
        </button>
    </div>

    <div class="col-sm-7 input-group">
        <select class="col-3 form-control form-control-sm" id="ddlNumberOfCopies"><option value="1">SINGLE COPY</option><option value="2" selected>Double copy</option></select>
        <select class="col-3 form-control form-control-sm" id="ddlCopyOnPage"><option value="1">1 PER PAGE</option><option value="2" selected>2 Per page</option></select>
        &nbsp;
        <div class="form-control form-control-sm form-check-inline" style="text-transform:capitalize !important">
            <input type="checkbox" id="chkIgnorePricingInformation" class="form-check-input" checked />                                                                                                                                 
            <label for="chkIgnorePricingInformation" class="form-check-label">IGNORE PRICE</label>
        </div>
        &nbsp;
        <button class="col-4 btn btn-sm btn-secondary" id="btnTrialPrintWaybill"> <i class="fa fa-print"></i> WB TRIAL PRINT</button>&nbsp;
        <button class="col-2 btn btn-sm btn-primary" id="btnFinalPrintWaybill" style="float:right; display:none"> <i class="fa fa-print"></i> FINAL PRINT</button>
    </div>
</div>
<div style="margin-bottom:20px;"></div>
<div class="row">
    <div class="col-md-12">
        <div style="display:block; max-height:500px; overflow-y:hidden; overflow-x:hidden; border:0px solid #c3c3c3; margin-bottom:15px" id="loadOrdersToBeDispatched">
            <partial name="_PartialViewOrderData" />
        </div>
        <div style="display:none; max-height:500px; overflow-y:hidden; overflow-x:hidden; border:0px solid #c3c3c3; margin-bottom:15px" id="loadOrdersDelivered">
            <partial name="_PartialViewDeliveredOrders" />
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
@*<script src="~/js/order.js"></script>*@

