@using LogisticsManagement_Web.Models;
@model IEnumerable<DispatchedOrderViewModel>


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#dispatched-list')) {
            $('#dispatched-list').DataTable().destroy();
        }
        $('#dispatched-list').DataTable({
            //"order": [[0, "desc"]]
        });
    });
</script>

<div class="row"   style="max-height:230px; overflow-y:scroll;">
    <div class="col-sm-12">
        <table id="dispatched-list" class="table table-striped table-bordered lms_dataTable" cellspacing="0" width=100%>
            <thead>
                <tr>
                    <th>W/B #</th>
                    <th>Dispatched to</th>
                    <th>Phone#</th>
                    <th>Shipper</th>
                    <th>Address</th>
                    <th>Consignee</th>
                    <th>Address</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(c => c.DispatchDatetime))
                {
                <tr>
                    <td>
                        @item.WayBillNumber
                    </td>
                    <td>
                        @item.EmployeeName (@item.EmployeeId)
                    </td>
                    <td>
                        @item.EmployeePhone
                    </td>
                    <td>
                        @item.ShipperName (@item.ShipperId)
                    </td>
                    <td>
                        @item.ShipperAddress
                    </td>
                    <td>
                        @item.ConsigneeName (@item.ConsigneeId)
                    </td>
                    <td>
                        @item.ConsigneeAddress
                    </td>

                    <td>
                        <button id="btnEdit" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                        <button id="btnDelete" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/order-dispatch.js"></script>
