@using LogisticsManagement_Web.Models;
@model ViewModel_Tariff


@{
    ViewData["Title"] = "TARIFF";
}



<div class="row">
    <div class="col-sm-10">
        <h4>
            @ViewData["Title"]
        </h4>
    </div>
    <div class="col-sm-2">
        <button id="btnNewTariff" type="button" class="btn btn-sm btn-danger form-control" title="Create a new tariff" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Tariff </button>
    </div>
</div>

<hr style="margin-bottom:40px" />

<form id="frmTariffForm" class="form-inline">
    <div class="modal fade" id="tariffUpdate" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> TARIFF </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="ddlDeliveryOptionId" class="col-sm-3 captionWeight">Service</label>
                            <select class="col-sm-7 form-control form-control-sm frmfontsize" id="ddlDeliveryOptionId">
                                @foreach (var deliveryOption in Model.DeliveryOptions)
                                {
                                    var selected = false;
                                    if (deliveryOption.Id == 1)
                                    {
                                        selected = true;
                                    }
                                    <option value="@deliveryOption.Id" selected="@selected">@deliveryOption.OptionName</option>
                                }
                            </select>

                            <input class="col-2 form-control form-control-sm" placeholder="####" id="txtTariffId" type="number" min="1" name="txtTariffId" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="ddlCityId" class="col-sm-3 captionWeight">City</label>
                            <select class="col-sm-4 form-control form-control-sm frmfontsize" id="ddlCityId">
                                <option value="0">-- Select --</option>
                                @foreach (var city in Model.Cities)
                                {
                                    var selected = false;
                                    if (city.Id == 335)
                                    {
                                        selected = true;
                                    }
                                    <option value="@city.Id" selected="@selected">@city.CityName</option>
                                }
                            </select>
                            <label for="ddlVehicleTypeId" class="col-sm-2 captionWeight">Vehicle</label>
                            <select class="col-sm-3 form-control form-control-sm frmfontsize" id="ddlVehicleTypeId">
                                @foreach (var vehicleType in Model.VehicleTypes)
                                {
                                    var selected = false;
                                    if (vehicleType.Id == 1)
                                    {
                                        selected = true;
                                    }
                                    <option value="@vehicleType.Id" selected="@selected">@vehicleType.TypeName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="ddlUnitTypeId" class="col-sm-3 captionWeight">Unit</label>
                            <select class="col-sm-4 form-control form-control-sm frmfontsize" id="ddlUnitTypeId" disabled>
                                @foreach (var unitType in Model.UnitTypes)
                                {
                                    var selected = false;
                                    if (unitType.Id == 2)
                                    {
                                        selected = true;
                                    }
                                    <option value="@unitType.Id" selected="@selected">@unitType.TypeName</option>
                                }
                            </select>
                            <label for="ddlWeightScaleId" class="col-sm-2 captionWeight">Weight</label>
                            <select class="col-sm-3 form-control form-control-sm" id="ddlWeightScaleId" disabled>
                                @foreach (var weightScale in Model.WeightScales)
                                {
                                    var selected = false;
                                    if (weightScale.Id == 1)
                                    {
                                        selected = true;
                                    }
                                    <option value="@weightScale.Id" selected="@selected">@weightScale.ScaleName (@weightScale.ShortCode)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="txtFirstUnitPrice" class="col-sm-3 captionWeight">1<sup>st</sup> unit</label>
                            <div class="input-group input-group-sm col-9 pl-0 pr-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control form-control-sm frmfontsize" id="txtFirstUnitPrice" placeholder="First unit price" type="number" min="0" step=".01" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="txtPerUnitPrice" class="col-sm-3 captionWeight">Per unit</label>
                            <div class="input-group input-group-sm col-9 pl-0 pr-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control form-control-sm frmfontsize" id="txtPerUnitPrice" placeholder="Per unit price" type="number" min="0" step=".01" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadTariffDataTable">
            <partial name="_PartialViewTariffData" />
        </div>
    </div>

</div>

<script src="~/js/tariff.js"></script>