@using LogisticsManagement_Web.Models;
@model ViewModel_Address

@{
    ViewData["Title"] = "ADDRESSES";
}

<div class="row">
    <div class="col-sm-2">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>
    <div class="col-sm-5 input-group">
        <select class="col-2 form-control form-control-sm" id="ddlLoadAddressCount">
            <option value="0">All</option>
        </select>
        <button style="margin-left:10px;margin-right:15px; height:27px" class="col-6 btn btn-sm btn-dark" id="btnDownloadAddressData"><i class="fa fa-download"></i> Load addresses </button>
        <span id="spinnerLoadingDataTable" style="display:none">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
            <span style="margin-right:20px">Loading...</span>
        </span>
    </div>
    <div class="col-sm-2 offset-3">
        <button id="btnNewAddress" type="button" class="btn btn-sm btn-danger form-control" title="Add New Address" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Address </button>
    </div>
</div>

<hr style="margin-bottom:20px" />



<form id="frmAddressForm" class="form-inline">
    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> ADDRESS </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-2">
                        <div class="form-group col-sm-12">
                            <label for="txtUnitNumber" class="captionWeight mr-2">Unit no.</label>
                            <input class="col-2 form-control form-control-sm frmfontsize mr-3" id="txtUnitNumber" placeholder="Unit no." name="txtUnitNumber" type="text" maxlength="20" />
                            <label for="txtAddressLine" class="captionWeight mr-1">Address line</label>
                            <input class="col-6 form-control form-control-sm frmfontsize  mr-1" id="txtAddressLine" placeholder="Address line" name="txtAddressLine" type="text" maxlength="150" />
                            <input class="col-1 form-control form-control-sm frmfontsize" placeholder="####" id="txtAddressId" type="number" min="1" name="txtAddressId" readonly>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-group col-sm-3">
                            <label for="ddlCityId" class="captionWeight">City</label>
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCityId" name="ddlCityId">
                                <option value="0">City</option>
                                @foreach (var city in Model.Cities)
                                {
                                    var selected = false;
                                    if (city.Id == 335)
                                    {
                                        selected = true;
                                    }
                                    <option value="@city.Id" selected="@selected">@city.CityName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="ddlProvinceId" class="captionWeight">Prov.</label>
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlProvinceId" name="ddlProvinceId">
                                <option value="0">Province</option>
                                @foreach (var province in Model.Provinces)
                                {
                                    var selected = false;
                                    if (province.Id == 7)
                                    {
                                        selected = true;
                                    }
                                    <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="ddlCountryId" class="captionWeight">Ctry.</label>
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCountryId" name="ddlCountryId">
                                <option value="0">Country</option>
                                @foreach (var country in Model.Countries)
                                {
                                    var selected = false;
                                    if (country.Id == 41)
                                    {
                                        selected = true;
                                    }
                                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="txtPostCode" class="captionWeight">Postcode</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtPostCode" placeholder="Postcode" name="txtPostCode" type="text" maxlength="20">
                        </div>

                    </div>

                    <hr />
                    <div class="row mb-2">
                        <div class="form-group col-sm-4">
                            <label for="txtContactPersonName" class="captionWeight">Contact</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtContactPersonName" placeholder="Contact" name="txtContactPersonName" type="text" maxlength="150" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtMobileNo" class="captionWeight">Mobile #</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtMobileNo" name="txtMobileNo" placeholder="Mobile" type="text" maxlength="20" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtPhoneNumber" class="captionWeight">Phone #</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Phone" type="text" maxlength="20" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="txtFaxNo" class="captionWeight">Fax #</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtFaxNo" name="txtFaxNo" placeholder="Fax" type="text" maxlength="20" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtEmailAddress1" class="captionWeight">Email 1</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtEmailAddress1" name="txtEmailAddress1" placeholder="Email" type="email" />
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="txtEmailAddress2" class="captionWeight">Email 2</label>
                            <input class="col-12 form-control form-control-sm frmfontsize" id="txtEmailAddress2" name="txtEmailAddress2" placeholder="Email" type="email" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadAddressDataTable">
            @*<partial name="_PartialViewAddressData" />*@
        </div>
    </div>

</div>


<script src="~/js/address.js"></script>
