@using LogisticsManagement_Poco
@model List<Lms_CustomerPoco>

@{
    ViewData["Title"] = "SALES REPORT";
}


<div class="row">
    <div class="col-sm-4">
        <h3>
            @ViewData["Title"]
        </h3>

    </div>

</div>
<hr />

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#customer-list')) {
            $('#customer-list').DataTable().destroy();
        }

        $('#customer-list').DataTable({
            "order": [[1, "asc"]],
            "paging": true,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });

    });
</script>

<div class="row">
    <div class="col-3">
        <div class="form-inline">
            <div class="form-group">
                <label for="txtStartDate" style="padding-right:20px"><b>FROM</b></label>
                <input type="date" id="txtStartDate" class="col-8 form-control form-control-sm frmfontsize" />
            </div>
        </div>

    </div>
    <div class="col-3">
        <div class="form-inline">
            <div class="form-group">

                <label for="txtEndDate" style="padding-right:20px"><b>TO</b></label>
                <input type="date" id="txtEndDate" class="col-9 form-control form-control-sm frmfontsize" />
            </div>
        </div>
    </div>
    <div class="col-3 offset-3 text-right">
        <button id="btnShowReport" class="btn btn-sm btn-dark"><i class="fa fa-search"></i> SHOW REPORT</button>
    </div>
</div>
<hr />


<table id="customer-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead class="dtTheadBg">
        <tr>
            <th style="width:300px">
                <div class="form-check-inline">
                    @{
                        string customerArrayString = "";
                        foreach (var cust in Model)
                        {
                            customerArrayString += cust.Id + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline" id="chkCheckAllCustomers" />
                    <input type="hidden" id="hfcustomerArray" value="@customerArrayString" />
                    <label class="form-check-label">CUSTOMER #</label>
                </div>
            </th>

            <th>CUSTOMER NAME</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="form-check-inline">
                        <input type="checkbox" class="form-check-input chkCustomerId" name="chkCustomerId" data-customerid="@item.Id">
                        <label class="form-check-label">@item.Id</label>
                    </div>
                </td>
                <td>
                    @item.CustomerName
                </td>
            </tr>
        }

    </tbody>
</table>







<script src="~/js/report.js"></script>