@using LogisticsManagement_Web.Models;
@model IEnumerable<DispatchedOrderViewModel>


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#passoff-list')) {
            $('#passoff-list').DataTable().destroy();
        }
        $('#passoff-list').DataTable({
            //"order": [[0, "desc"]]
        });
    });
</script>

<div class="row" style="max-height:230px; overflow-y:scroll;">
    <div class="col-sm-12">
        <table id="passoff-list" class="table table-striped table-bordered lms_dataTable" cellspacing="0" width=100%>
            <thead>
                <tr>
                    <th>W/B #</th>
                    <th>Picked up by</th>
                    <th>Passed on to</th>
                    <th>Phone</th>
                    <th>Shipper address</th>
                    <th>Consignee address</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(c => c.PickupDatetime))
                {
                <tr>
                    <td>
                        @item.WayBillNumber
                    </td>
                    <td>
                        @item.DispatchedEmployeeName (@item.DispatchedEmployeeId)
                    </td>
                    <td>
                        @item.PassOnEmployeeName (@item.PassOnEmployeeId)
                    </td>
                    <td>
                        @item.PassOnEmployeePhone
                    </td>
                    <td>
                        @item.ShipperAddress
                    </td>
                    <td>
                        @item.ConsigneeAddress
                    </td>

                    <td>
                        <button id="btnEdit" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                        <button id="btnDelete" data-waybillnumber='@item.WayBillNumber' class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/order-passoff.js"></script>
