@using LogisticsManagement_Web.Models;
@model ViewModel_Employee


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#employee-list')) {
            $('#customer-list').DataTable().destroy();
        }
        $('#employee-list').DataTable({
            "order": [[0, "desc"]],
            "paging": false,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="employee-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>License#</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees.OrderByDescending(c => c.Id))
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.DriverLicenseNo
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.EmailAddress
                        </td>

                        <td>
                            <button id="btnEdit" data-employeeid='@item.Id' class="btn btn-sm btn-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                            <button id="btnDelete" data-employeeid='@item.Id' class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/employee.js"></script>
