@using LogisticsManagement_Web.Models;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee";
}


<script>
    $(document).ready(function () {
        $('#employee-list').DataTable({
            "order": [[0, "desc"]],
        });
    });
</script>

<form id="frmEmployeeForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #3b80a9;color: #fff;">
                    <strong><i class="fa fa-sliders"></i> Employee</strong>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card" id="cardEmployeeInfo">
                                <div class="card-header">
                                    <i class="fa fa-send"></i> Employee information
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtEmployeeId" placeholder="ID" type="number" />
                                        </div>
                                        <div class="form-group col-sm-1" style="padding-left: 0px;">
                                            <button id="btnFindEmployee" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <input class="form-control" id="txtFirstName" placeholder="First name" name="txtFirstName" type="text" />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <input class="form-control" id="txtLastName" placeholder="Last name" name="txtLastName" type="text" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-4">
                                            <input class="form-control" id="txtDrivingLicenseNo" name="txtDrivingLicenseNo" placeholder="Drivers license" type="text" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <input class="form-control" id="txtSocialInsuranceNo" placeholder="Social insurance" name="txtSocialInsuranceNo" type="text" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <select id="ddlEmployeeTypeId" class="form-control" name="ddlEmployeeTypeId">
                                                @foreach (var item in ViewBag.EmployeeTypes)
                                                {
                                                    <option value="@item"> @item </option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-3">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="chkIsHourlyPaid" type="checkbox" name="chkIsHourlyPaid">
                                                <label class="form-check-label" for="chkIsHourlyPaid">Hourly?</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="chkIsSalaryEmployee" type="checkbox" name="chkIsSalaryEmployee">
                                                <label class="form-check-label" for="chkIsSalaryEmployee">Salaried?</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="chkIsCommissionProvided" type="checkbox" name="chkIsCommissionProvided">
                                                <label class="form-check-label" for="chkIsCommissionProvided">Commission?</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="chkIsFuelProvided" type="checkbox" name="chkIsFuelProvided">
                                                <label class="form-check-label" for="chkIsFuelProvided">Fuel?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtHourlyRate" placeholder="Rate" name="txtHourlyRate" type="text" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtSalaryAmount" placeholder="Amount" name="txtSalaryAmount" type="text" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtCommissionAmount" placeholder="Comm. amount" name="txtCommissionAmount" type="text" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtFuelSurchargePercentage" placeholder="Fuel surcharge" name="txtFuelSurchargePercentage" type="text" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtRadioInsuranceAmount" placeholder="Radio insurance" name="txtRadioInsuranceAmount" type="text" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtInsuranceAmount" placeholder="Insurance" name="txtInsuranceAmount" type="text" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <select id="ddlSalaryTermId" class="form-control">
                                                <option value="0"> - Salary Term - </option>
                                                <option value="1"> Weekly </option>
                                                <option value="2"> Bi-Weekly </option>
                                                <option value="3"> Quarterly </option>
                                                <option value="4"> Monthly </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="chkIsActive" type="checkbox" name="chkIsActive">
                                                <label class="form-check-label" for="chkIsActive">Active?</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>



                        </div>
                        <div class="col-sm-6">
                            <div class="card" id="cardAddress">
                                <div class="card-header">
                                    <i class="fa fa-send"></i> Contact information
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtUnitNumber" placeholder="Unit " name="txtUnitNumber" type="text" />
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input class="form-control" id="txtAddressLine" placeholder="Address line" name="txtAddressLine" type="text" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-5">
                                            <select class="form-control" id="ddlCityId" name="ddlCityId">
                                                <option value="0">-- Select --</option>
                                                @foreach (var city in Model.Cities)
                                                {
                                                    var selected = false;
                                                    if (city.Id == 335)
                                                    {
                                                        selected = true;
                                                    }
                                                    <option value="@city.Id" selected="@selected">@city.CityName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <select class="form-control" id="ddlProvinceId" name="ddlProvinceId">
                                                <option value="0">-- Select --</option>
                                                @foreach (var province in Model.Provinces)
                                                {
                                                    var selected = false;
                                                    if (province.Id == 7)
                                                    {
                                                        selected = true;
                                                    }
                                                    <option value="@province.Id" selected="@selected">@province.ShortCode</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <select class="form-control" id="ddlCountryId" name="ddlCountryId">
                                                <option value="0">-- Select --</option>
                                                @foreach (var country in Model.Countries)
                                                {
                                                    var selected = false;
                                                    if (country.Id == 41)
                                                    {
                                                        selected = true;
                                                    }
                                                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" id="txtPostCode" placeholder="Postcode" name="txtPostCode" type="text" />
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input class="form-control" id="txtEmailAddress" placeholder="Email" name="txtEmailAddress" type="text" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <input class="form-control" id="txtMobileNo" name="txtMobileNo" placeholder="Mobile" type="text" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <input class="form-control" id="txtFaxNo" name="txtFaxNo" placeholder="Fax" type="text" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <input class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Phone" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <hr />
                    <button type="button" class="btn btn-primary" id="btnNew"><i class="fa fa-plus-circle"></i> New</button>
                    <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>

                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="background-color: #c3c3c3;">
                <strong><i class="fa fa-sliders"></i> Employees</strong>
                <div class="card-header-actions">
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div class="collapse show" id="collapseDatatable">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="employee-list" class="table table-striped table-bordered lms_dataTable" cellspacing="0" width=100%>
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>License#</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Employees.OrderByDescending(c => c.Id))
                                    {
                                        <tr>
                                            <td>
                                                @item.EmployeeNumber
                                            </td>
                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>
                                                @item.LastName
                                            </td>
                                            <td>
                                                @item.DriverLicenseNo
                                            </td>
                                            <td>
                                                @item.PhoneNumber
                                            </td>
                                            <td>
                                                @item.EmailAddress
                                            </td>

                                            <td>
                                                <button id="btnEdit" data-tariff='@Json.Serialize(item)' class="btn btn-sm btn-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                                                <button id="btnDelete" data-tariff='@Json.Serialize(item)' class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/js/employee.js"></script>*@
