@using LogisticsManagement_Web.Models;
@model IEnumerable<ViewModel_GeneratedInvoice>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#invoiced-list')) {
            $('#invoiced-list').DataTable().destroy();
        }
        $('#invoiced-list').DataTable({
            "order": [[0, "desc"]],
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
            },
            searching: true,
            paging: true,
            info: true
        });
    });

</script>

<table id="invoiced-list" class="table table-sm table-bordered table-striped" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead class="dtTheadBg">
        <tr>
            <th style="width:100px">
                <div class="form-check-inline">
                    @{
                        var invoiceArray = Model.Select(c => c.InvoiceId).ToArray();
                        string invoiceArrayString = "";
                        foreach (var invoice in invoiceArray)
                        {
                            invoiceArrayString += invoice + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline chkCheckAllInvoices" id="chkCheckAllInvoices" />
                    <input type="hidden" id="hfInvoiceArray" value="@invoiceArrayString" />
                    <label class="form-check-label">Invoice #</label>
                </div>
            </th>
            <th style="width:100px">Date</th>
            <th style="width:auto">Customer</th>
            <th style="width:70px">Total amnt.</th>
            <th style="width:90px">W/B #</th>
            <th style="width:60px; text-align:center">Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(c => c.InvoiceId))
        {
        <tr>
            <td>
                <div class="form-check-inline">
                    <input type="checkbox" id="chkInvoiceSelected" name="chkInvoiceSelected" class="form-check-input chkInvoiceSelected" data-invoiceid='@item.InvoiceId' data-waybillnumbers="@item.WayBillNumbers" />
                    <label class="form-check-label">@item.InvoiceId</label>
                </div>
            </td>
            <td>
                @item.InvoiceDateString
            </td>
            <td>
                @item.BillerName
            </td>
            <td>
                @item.TotalInvoiceAmnt
            </td>
            <td>
                @item.WayBillNumbers.Substring(0, 6)
                @{
                    if (item.WayBillNumbers.Length > 10)
                    {
                        <label style="cursor:pointer; color:#129eef" title="@item.WayBillNumbers"> &nbsp; more>></label>
                    }
                }
            </td>

            <td style="text-align:center">
                @{
                    var disabled = "";
                    if (item.TotalInvoiceAmnt > 0)
                    {
                        disabled = "disabled";
                    }

                }
                <button id="btnEdit" data-invoiceid='@item.InvoiceId' data-billername="@item.BillerName" data-waybills="@item.WayBillNumbers" data-totalamount="@item.TotalInvoiceAmnt" class="btn-primary btnEdit" title="Modify invoice" type="button"><i class="fa fa-pencil"></i> </button>
                @*<button id="btnEdit" data-invoiceid='@item.InvoiceId' data-waybills="@item.WayBillNumbers" class="btn-danger btnRegenerateInvoice" title="Regenerate invoice" type="button" @disabled><i class="fa fa-cogs"></i> </button>*@
            </td>
        </tr>
        }
    </tbody>
</table>


<script src="~/js/invoice.js"></script>
