@using LogisticsManagement_Web.Models;
@model List<ViewModel_CustomerWithPendingInvoice>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#customerdues-list')) {
            $('#customerdues-list').DataTable().destroy();
        }
        $('#customerdues-list').DataTable({
            "order": [[2, "asc"]],
            "paging": false,
            "info": false,
            "searching": false
        });
    });
</script>

<style>
    .lnkCollectPayment {
        padding: 2px 8px 2px 8px;
        color: #fff;
        border-radius: 3px
    }
    .lnkPaidInvoice {
        padding: 2px 8px 2px 8px;
        color: #fff;
        border-radius: 3px
    }
</style>
<table id="customerdues-list" class="table table-sm table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr style="background-color:#ebffad">
            <th>Collect</th>
            <th>Biller Id</th>
            <th>Biller name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Number of invoices</th>
            <th>Total Due</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.TotalDue == 0 && item.NumberOfInvoices == 0)
            {
                continue;
            }
            <tr>
                <td>

                    @{
                        if (item.TotalDue == 0)
                        {
                            <a data-toggle="modal" id="btnViewInvoice" class="btn-success lnkPaidInvoice" data-customerid="@item.CustomerId" data-customername="@item.CustomerName" href="#">Paid</a>
                        }
                        else
                        {
                            <a data-toggle="modal" id="btnCollectPayment" class="btn-danger lnkCollectPayment" data-customerid="@item.CustomerId" data-customername="@item.CustomerName" href="#">Collect</a>
                        }

                    }
                </td>
                <td>
                    @item.CustomerId
                </td>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.CustomerAdress
                </td>

                <td>
                    @item.CustomerPhone
                </td>

                <td>
                    @item.NumberOfInvoices
                </td>

                <td>
                    @item.TotalDue
                </td>
            </tr>
        }

    </tbody>

</table>

<script src="~/js/invoice.js"></script>
