@using LogisticsManagement_Web.Models;
@model List<PendingWaybillsForInvoice>


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#orderdispatch-list')) {
            $('#orderdispatch-list').DataTable().destroy();
        }
        $('#orderdispatch-list').DataTable({
            "order": [[0, "desc"]]
        });
    });
</script>

<div class="row" style="max-height:230px; overflow-y:scroll;">
    <div class="col-sm-12">
        <table id="orderdispatch-list" class="table table-striped table-bordered lms_dataTable" cellspacing="0" width=100%>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>W/B #</th>
                    <th>Biller name</th>
                    <th>Department</th>
                    <th>Order cost</th>
                    <th>Return order cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(c => c.WayBillNumber))
                {
                    <tr>
                        <td>
                            <label class="btn btn-sm btn-success">
                                <input type="checkbox" id="chkOrderSelected" name="chkOrderSelected" class="chkOrderSelected" data-waybillnumber='@item.WayBillNumber' />
                            </label>
                        </td>
                        <td>
                            <a asp-controller="Order" asp-action="">@item.WayBillNumber</a>
                        </td>

                        <td>
                            @item.BillerName (@item.WayBillNumber)
                        </td>
                        <td>
                            @item.BillerDepartment
                        </td>
                        <td>
                            @item.TotalOrderCost 
                        </td>
                        <td>
                            @item.OrderType
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/order-dispatch.js"></script>
