@using LogisticsManagement_Web.Models;
@model IEnumerable<ViewModel_GeneratedInvoice>

<style>
    .form-control {
        padding: 4px 4px 4px 8px;
        height: 29px;
        text-transform: uppercase
    }

    .form-group {
        margin-bottom: .15rem;
    }

    #order-list tbody tr {
        height: 60px; /* or whatever height you need to make them all consistent */
    }

    .additionalServiceControl {
        height: 22px;
        padding: 1px 6px 3px 6px;
    }
</style>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#invoiced-list')) {
            $('#invoiced-list').DataTable().destroy();
        }
        $('#invoiced-list').DataTable({
            "order": [[0, "desc"]],
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
            },
            searching: true,
            paging: false,
            info: false
        });
    });
</script>

<table id="invoiced-list" class="table table-sm table-striped" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr>
            <th style="width:100px">Invoice #</th>
            <th style="width:200px">Biller</th>
            <th>W/B numbers</th>
            <th style="width:100px">Total amnt.</th>
            <th style="width:100px">Edit/Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(c => c.InvoiceId))
        {
            <tr>
                <td>
                    @item.InvoiceId
                </td>
                <td>
                    @item.BillerName
                </td>
                <td>
                    @item.WayBillNumbers
                </td>
                <td>
                    @item.TotalInvoiceAmnt
                </td>
                <td>
                    <button id="btnEdit" data-invoiceid='@item.InvoiceId' data-billername="@item.BillerName" data-waybills="@item.WayBillNumbers" data-totalamount="@item.TotalInvoiceAmnt" class="btn btn-sm btn-ghost-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/js/invoice.js"></script>
