@using LogisticsManagement_Web.Models;
@model List<ViewModel_OrderReadyForInvoice>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#pending-list')) {
            $('#pending-list').DataTable().destroy();
        }
        $('#pending-list').DataTable({
            "order": [[0, "desc"]],
            "lengthChange": false,
            "columns": [{ "orderable": false }, null, null, null, null, null, null, null, null, null, null,],
            searching: false,
            paging: false,
            info: false
        });
    });
</script>

<table id="pending-list" class="table table-sm table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr style="background-color:#ebffad">
            <th>
                <div class="form-check-inline">
                    @{
                        var wayBillArray = Model.Select(c => c.WayBillNumber).ToArray();
                        string wayBillArrayString = "";
                        foreach (var wb in wayBillArray) {
                            wayBillArrayString += wb + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline" id="chkCheckAllOrders" />
                    <input type="hidden" id="hfWaybillArray" value="@wayBillArrayString" />
                    <label class="form-check-label">W/B #</label>
                </div>
            </th>
            <th>Date</th>
            <th>Customer ref #</th>
            <th>Shipper name</th>
            <th>Consignee name</th>
            <th>Unit/qty.</th>
            <th>Skid</th>
            <th>Weight</th>
            <th>Biller name</th>
            <th>Ordered by</th>
            <th>Order cost</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderByDescending(c => c.WayBillNumber))
        {
            <tr>
                <td>
                    <div class="form-check-inline">

                        <input type="checkbox" id="chkOrderSelected" name="chkOrderSelected" class="form-check-input chkOrderSelected" data-waybillnumber='@item.WayBillNumber' />
                        <label class="form-check-label">@item.WayBillNumber</label>
                    </div>
                </td>
                <td>
                    @item.WaybillDate.ToString("dd-MMM-yy")
                </td>
                <td>
                    @item.CustomerReferenceNo
                </td>

                <td>
                    @item.ShipperName
                </td>

                <td>
                    @item.ConsigneeName
                </td>

                <td>
                    @item.UnitQty @item.UnitTypeName
                </td>

                <td>
                    @item.SkidQty
                </td>

                <td>
                    @item.WeightTotal @item.WeightShortName
                </td>

                <td>
                    @item.BillerName
                </td>

                <td>
                    @item.OrderedBy
                </td>
                <td>
                    @item.TotalOrderCost
                </td>

            </tr>
        }
    </tbody>

</table>

<script src="~/js/invoice.js"></script>
