@using LogisticsManagement_Web.Models;
@model List<ViewModel_OrderReadyForInvoice>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#pending-list')) {
            $('#pending-list').DataTable().destroy();
        }
        $('#pending-list').DataTable({
            "order": [[0, "desc"]],
            "columns": [{ "orderable": false }, null, null, null, null, null, null, null, null, null, null, null],
            "lengthChange": false,
            searching: false,
            paging: false,
            info: false
        });
    });
</script>

<table id="pending-list" class="table table-sm table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr style="background-color:#ebffad">
            <th style="width:50px">
                <div class="form-check-inline">
                    @{
                        var wayBillArray = Model.Select(c => c.WayBillNumber).ToArray();
                        string wayBillArrayString = "";
                        foreach (var wb in wayBillArray) {
                            wayBillArrayString += wb + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline chkSelectAllOrders" id="chkSelectAllOrders" />
                    <input type="hidden" id="hfWaybillArray" value="@wayBillArrayString" />
                    <label class="form-check-label">W/B#</label>
                </div>
            </th>
            <th style="width:50px">Date</th>
            <th style="width:75px">Cust. ref#</th>
            <th style="width:150px">Shipper</th>
            <th style="width:150px">Consignee</th>
            <th style="width:50px">Unt/qty.</th>
            <th style="width:40px">SKD</th>
            <th style="width:50px">Wgt.</th>
            <th style="width:150px">Bill to</th>
            <th style="width:80px">Ord. By</th>
            <th style="width:70px">Ord. Cost</thstyle="width:70px">
            <th style="width:30px">Print</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderByDescending(c => c.WayBillNumber))
        {
        <tr>
            <td>
                <div class="form-check-inline">
                    <input type="checkbox" name="chkOrderSelected" class="form-check-input chkOrderSelected" data-waybillnumber='@item.WayBillNumber' />
                    @{ 
                        var routingUrl = "";
                        if (item.OrderTypeId == 3)
                        {
                            routingUrl = "MiscellaneousOrder/RoutingAction/" + item.WayBillNumber;
                        }
                        else {
                            routingUrl = "Order/RoutingAction/" + item.WayBillNumber;
                        }
                    }
                    <a href="@routingUrl" style="cursor:pointer" title="Modify order">
                        <label class="form-check-label" style="cursor:pointer">@item.WayBillNumber</label>
                    </a>
                </div>
            </td>
            <td>
                @item.WaybillDate.ToString("dd-MMM-yy")
            </td>
            <td>
                @item.CustomerReferenceNo
            </td>

            <td title="@item.ShipperName">
                @{ 
                    var shipper = "";
                    if (item.ShipperName.Length > 25)
                    {
                        shipper = item.ShipperName.Substring(0, 22) + "...";
                    }
                    else {
                        shipper = item.ShipperName;
                    }
                    @shipper
                }
            </td>

            <td>
                @{
                    var consignee = "";
                    if (item.ConsigneeName.Length > 25)
                    {
                        consignee = item.ConsigneeName.Substring(0, 22) + "...";
                    }
                    else
                    {
                        consignee = item.ConsigneeName;
                    }
                    @consignee
                }
            </td>

            <td>
                @item.UnitQty @item.UnitTypeName
            </td>

            <td>
                @item.SkidQty
            </td>

            <td>
                @item.WeightTotal @item.WeightShortName
            </td>

            <td>
                @{
                    var billerName = "";
                    if (item.BillerName.Length > 25)
                    {
                        billerName = item.BillerName.Substring(0, 22) + "...";
                    }
                    else
                    {
                        billerName = item.BillerName;
                    }
                    @billerName
                }
            </td>

            <td>
                @item.OrderedBy
            </td>
            <td>
                @item.TotalOrderCost
            </td>
            <td>
               <button class="btn-primary smallGridIcon btnPrintWaybill" data-waybillnumber="@item.WayBillNumber" title="Print waybill" type="button"><i class="fa fa-print"></i></button>
            </td>
        </tr>
        }
    </tbody>

</table>

<script src="~/js/invoice.js"></script>
