@using LogisticsManagement_Web.Models;
@model IEnumerable<ViewModel_GeneratedInvoice>

<style>
    .form-control {
        margin: 6px 7px 0px 8px;
    }
</style>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#invoiced-list')) {
            $('#invoiced-list').DataTable().destroy();
        }
        $('#invoiced-list').DataTable({
            "order": [[0, "desc"]],
            "columns": [{ "orderable": false }, null, null, null, null],
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
            },
            searching: true,
            paging: false,
            info: false
        });
    });

</script>

<table id="invoiced-list" class="table table-sm table-striped" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead>
        <tr style="background-color:#ebffad">
            <th style="width:100px">
                <div class="form-check-inline">
                    @{
                        var invoiceArray = Model.Select(c => c.InvoiceId).ToArray();
                        string invoiceArrayString = "";
                        foreach (var invoice in invoiceArray)
                        {
                            invoiceArrayString += invoice + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline" id="chkCheckAllInvoices" />
                    <input type="hidden" id="hfInvoiceArray" value="@invoiceArrayString" />
                    <label class="form-check-label">Invoice #</label>
                </div>
            </th>
            <th style="width:200px">Biller</th>
            <th>W/B numbers</th>
            <th style="width:100px">Total amnt.</th>
            <th style="width:100px">Edit/Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(c => c.InvoiceId))
        {
            <tr>
                <td>
                    <div class="form-check-inline">
                        <input type="checkbox" id="chkInvoiceSelected" name="chkInvoiceSelected" class="form-check-input chkInvoiceSelected" data-invoiceid='@item.InvoiceId' data-waybillnumbers="@item.WayBillNumbers" />
                        <label class="form-check-label">@item.InvoiceId</label>
                    </div>
                </td>
                <td>
                    @item.BillerName
                </td>
                <td>
                    @item.WayBillNumbers
                </td>
                <td>
                    @item.TotalInvoiceAmnt
                </td>
                <td>
                    <button id="btnEdit" data-invoiceid='@item.InvoiceId' data-billername="@item.BillerName" data-waybills="@item.WayBillNumbers" data-totalamount="@item.TotalInvoiceAmnt" class="btn btn-sm btn-ghost-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/js/invoice.js"></script>
