@using LogisticsManagement_Web.Models;
@model List<ViewModel_CustomerWithPendingInvoice>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#customerdues-list')) {
            $('#customerdues-list').DataTable().destroy();
        }
        $('#customerdues-list').DataTable({
            "order": [[0, "asc"]],
            "paging": true,
            "info": true,
            "searching": true
        });
    });
</script>


<table id="customerdues-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em; text-transform:uppercase">
    <thead style="background-color:#e2e2e2">
        <tr>
            <th>Cust. Name</th>
            <th>Cust. Id</th>
            <th>Address</th>
            <th>Phone</th>
            <th># Invoices</th>
            <th>Total Due</th>
            <th>Apply payment</th>
            <th>Paid Inv.</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.TotalDue == 0 && item.NumberOfInvoices == 0)
            {
                continue;
            }
        <tr>
            <td>
                @item.CustomerName
            </td>
            <td>
                @item.CustomerId
            </td>
            <td>
                @item.CustomerAdress
            </td>

            <td>
                @item.CustomerPhone
            </td>

            <td>
                @item.NumberOfInvoices
            </td>

            <td>
                @item.TotalDue
            </td>
            <td>

                @{
                    if (item.TotalDue == 0)
                    {
                        <button data-toggle="modal" id="btnViewInvoice" class="btn-success lnkPaidInvoice" data-customerid="@item.CustomerId" data-customername="@item.CustomerName" type="button">Paid</button>
                    }
                    else
                    {
                        <button data-toggle="modal" id="btnCollectPayment" class="btn  btn-info btn-sm lnkCollectPayment" data-customerid="@item.CustomerId" data-customername="@item.CustomerName" type="button"><i class="fa fa-money"></i> Apply payment</button>
                    }

                }
            </td>
            <td>
                <button class="btn btn-secondary btn-sm btnViewInvoice" data-customerid="@item.CustomerId" type="button"><i class="fa fa-search"></i> Show</button>
            </td>
        </tr>
        }

    </tbody>

</table>

<script src="~/js/invoice.js"></script>
