@using LogisticsManagement_Web.Models;
@model List<ViewModel_OrderReadyForInvoice>

@{
    ViewData["Title"] = "GENERATE INVOICE";
}

<h3>
    @ViewData["Title"]
</h3>
<hr />


<div class="modal fade" id="modifyInvoice" tabindex="-1" role="dialog" style="text-transform:uppercase">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title mr-1"> EDIT INVOICE </label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="form-group col-6">
                        <label for="txtInvoiceNumberToModify" class="captionWeight">Invoice number</label>
                        <input class="form-control form-control-sm frmfontsize" placeholder="Invoice No." id="txtInvoiceNumberToModify" type="number" name="txtInvoiceNumberToModify" readonly>
                    </div>
                    <div class="form-group col-6">
                        <label for="txtBillerCustomerName" class="captionWeight">Biller</label>
                        <input type="text" id="txtBillerCustomerName" class="form-control form-control-sm txtBillerCustomerName frmfontsize" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group  col-12">
                        <label for="txtWaybillNumbers" class="captionWeight">Waybill #</label>
                        <input type="text" id="txtWaybillNumbers" class="form-control form-control-sm txtWaybillNumbers frmfontsize" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-12">
                        <label for="txtTotalInvoiceAmount" class="captionWeight">Total invoice amount</label>
                        <input type="text" id="txtTotalInvoiceAmount" class="form-control form-control-sm txtTotalInvoiceAmount frmfontsize" readonly />
                    </div>
                </div>

                <div class="row ml-0">
                    <div style="font-size:.8em">
                        * Releasing invoice removes all relevant transactions but keep the invoice number for regeneration<br />
                        @*<span class="disabled"> ** If you delete the invoice it will also remove the invoice number from the system and same number cannot be used. </span>*@

                    </div>
                </div>


            </div>
            <div class="modal-footer padding-lg">
                <button type="button" class="btn btn-sm btn-danger mr-auto" id="btnUndoInvoice"> RELEASE INVOICE </button>
                <button type="button" class="btn btn-sm btn-primary pl-2 pr-2" id="btnRegenerate" disabled> REGENERATE </button>
                @*<button type="button" class="btn btn-sm btn-secondary" id="btnDeleteInvoice" disabled><i class="fa fa-trash"></i></button>*@
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <fieldset style="background-color:#f0f3f5">
            <legend> LOAD ORDERS</legend>
            <div class="row mb-2">
                <div class="form-group col-sm-2">
                    <label for="" class="">ORDER TYPE</label>
                    <div class="form-control form-control-sm form-check-inline">
                        <input type="radio" id="rdoDeliveryOrder" name="orderType" class="form-check-input" value="1" checked />
                        <label for="rdoDeliveryOrder" class="form-check-label captionWeight">DELIVERY</label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="rdoMiscOrder" name="orderType" class="form-check-input" value="3" />
                        <label for="rdoMiscOrder" class="form-check-label captionWeight">MISC.</label>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="ddlCustomerId" class="">CUSTOMER</label>
                    <select class="form-control form-control-sm frmfontsize" id="ddlCustomerId">
                        <option value="0">- ALL -</option>
                        @foreach (var item in ViewBag.Customers)
                        {
                            <option value="@item.Id"> @item.CustomerName </option>
                        }
                    </select>
                </div>

                <div class="form-group col-sm-2">
                    <label for="txtStartDate" class="">FROM DATE</label>
                    <input type="date" id="txtStartDate" class="form-control form-control-sm txtStartDate frmfontsize" />
                </div>
                <div class="form-group col-sm-2">
                    <label for="txtToDate" class="">TO DATE</label>
                    <input type="date" id="txtToDate" class="form-control form-control-sm txtToDate frmfontsize" />
                </div>
                <div class="form-group col-sm-2 mt-auto text-right">
                    <button id="btnFilter" class="col-9 btn btn-sm btn-dark mr-2" type="button"> Load orders</button>
                </div>
            </div>
            <hr />
            <div class="row mt-2">
                <div class="col-sm-6">

                    <fieldset>
                        <legend>GENERATE</legend>

                        <form id="frmInvoiceGenerationForm" class="form-inline">
                            <div class="row ml-0">
                                <div class="form-group">
                                    <label for="txtInvoiceDate" class="captionWeight pr-2">INV.DATE</label>
                                    <input type="date" id="txtInvoiceDate" class="form-control form-control-sm txtInvoiceDate mr-5 frmfontsize" />
                                </div>
                            </div>
                            <div class="row ml-3">
                                <div class="form-group">
                                    <button id="btnTrialPrint" type="button" class="btn btn-sm btn-secondary mr-auto"><i class="fa fa-print"></i> TRIAL PRINT</button>
                                    <button type="submit" class="btn btn-sm btn-primary ml-2" id="btnGenerateInvoice"><i class="fa fa-gear"></i> GENERATE</button>
                                </div>

                            </div>
                        </form>

                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset>
                        <legend>LOAD INVOICE</legend>
                        <div class="form-inline">
                            <div class="row ml-0">
                                <div class="form-group col-6 pl-0">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCustomerIdForPrint" disabled>
                                        <option value="0">- All customer -</option>
                                        @foreach (var item in ViewBag.Customers)
                                        {
                                            <option value="@item.Id"> @item.CustomerName </option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-3 pl-0">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCustomerIdForPrint" disabled>
                                        <option value="0">All Orders</option>
                                        <option value="1">Delivery</option>
                                        <option value="2">Miscellaneous</option>
                                    </select>
                                    @*<input type="checkbox" class="form-check-input" id="chkIsMiscellaneous" />
                                        <label for="chkIsMiscellaneous" class="form-check-label"> Misc.</label>*@
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary" id="btnDownloadData" type="button"><i class="fa fa-download"></i> Load invoices</button>
                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

        </fieldset>
    </div>

</div>
<hr />
@*<div class="row">
        <div class="col-12">
            <span id="spinnerLoadingDataTable" style="display:block">
                <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <span>Loading...</span>
            </span>
        </div>
    </div>*@
<div class="row mt-4" id="divLoadOrders">
    <div class="col-md-12">
        <div class="form-group">
            <strong style="color:#0051b5"><label id="lblOrderName">DELIVERY ORDERS</label></strong>
            <hr />
        </div>
        <div style="display:block; " id="loadPendingInvoiceDataTable">
            <partial name="_PartialViewPendingData" />
        </div>
    </div>
</div>

<div class="row mt-4" id="divLoadInvoices" style="display:none">
    <div class="form-group ml-3">
        <strong style="color:#0051b5">GENERATED INVOICES</strong>
        <div style="float:right" class="mr-3">
            <label class="captionWeight mr-4">PRINT</label>
            <button class="btn btn-sm btn-secondary" type="button" id="btnInvoiceFinalPrint"><i class="fa fa-print"></i> INVOICE</button>
            <button class="btn btn-sm btn-secondary" type="button" id="btnWaybillFinalPrint"><i class="fa fa-print"></i> WAYBILL</button>
        </div>
        <hr />
    </div>
    
    <div class="col-12">
        <div style="display: block; " id="loadInvoicedDataTable">
        </div>
    </div>

</div>





<script src="~/js/invoice.js"></script>
