
@{
    ViewData["Title"] = "PAYMENT";
}


<h3>
    @ViewData["Title"]
</h3>
<hr />
<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#customer-wise-due-invoices')) {
            $('#customer-wise-due-invoices').DataTable().destroy();
        }
        $('#customer-wise-due-invoices').DataTable({
            "order": [[0, "asc"]],
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
            },
            "paging": true,
            "info": false,
            "searching": true
        });
    });
</script>


<div class="modal fade" id="collectPayment" tabindex="-1" role="dialog" style="text-transform:uppercase">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title mr-1"> COLLECT PAYMENT FOR </label>
                <strong>
                    [ <label id="lblCustomerName" style="margin-right:10px"></label> #<label id="lblCustomerNo" style="margin-left:2px"></label> ]
                </strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-sm table-bordered table-striped" cellspacing="0" style="width:100%; font-size:.75em">
                                <thead class="dtTheadBg">
                                    <tr>
                                        <th style="width:240px">Invoice #</th>
                                        <th style="width:240px">Invoice date</th>
                                        <th style="width:240px">Invoice amount</th>
                                        <th style="width:240px">Paid amount</th>
                                        <th style="width:auto">Due amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                      
                        <div style="display:block; height:120px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:5px; margin-top:-16px" id="loadPartialViewCustomerWiseDueInvoices">
                            <table id="customer-wise-due-invoices" class="table table-sm table-striped customer-wise-due-invoices" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                        <div class="col-sm-6">
                            <fieldset style="background-color:#e6f0f7">
                                <legend>WB INFO</legend>
                                <div class="form-inline row mt-0 mb-2">
                                    <div class="form-group col-3 pr-0">
                                        <label for="txtInvoiceNo" class="captionWeight mr-1">INV.</label>
                                        <input type="text" id="txtInvoiceNo" class="col-8 form-control form-control-sm frmfontsize" style="font-weight:bolder" placeholder="Inv #" readonly="">
                                    </div>
                                    <div class="form-group col-3 pl-0 pr-0">
                                        <label for="txtPaidAmount" class="captionWeight mr-1">PAID</label>
                                        <input type="text" id="txtPaidAmount" class="col-8 form-control form-control-sm frmfontsize" placeholder="0.00" readonly="">
                                    </div>
                                    <div class="form-group col-3 pr-0 pl-0">
                                        <label for="txtDueAmount" class="captionWeight mr-1">DUE</label>
                                        <input type="text" id="txtDueAmount" class="col-8 form-control form-control-sm frmfontsize" placeholder="0.00" readonly="">
                                    </div>
                                    <div class="form-group col-3 pl-0 pr-0">
                                        <label for="txtInvoiceDate" class="captionWeight mr-1">DATE</label>
                                        <input type="text" id="txtInvoiceDate" class="col-7 form-control form-control-sm frmfontsize pl-1" readonly="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="display:block; height:180px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3;" id="loadPartialViewCustomerWiseDueInvoices">
                                            <table class="table table-sm table-striped waybill-list-for-invoice-payment" style="width:100%; font-size:.75em">
                                                <thead class="dtTheadBg">
                                                    <tr>
                                                        <th>W/B No</th>
                                                        <th>Pickup date</th>
                                                        <th>Delivery date</th>
                                                        <th>Total amount</th>
                                                        @*<th>Total Tax</th>*@
                                                        <th>
                                                            <div class="form-check-inline">
                                                                <input type="checkbox" class="form-check-input chkPayAllWaybill" id="chkPayAllWaybill">
                                                                <label class="form-check-label" for="chkPayAllWaybill">Pay</label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            
                        </div>
                        <div class="col-sm-6">
                            <fieldset style="background-color:#e6f0f7">
                                <legend>PAYMENT INFO</legend>

                                <div class="row mb-2">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control form-control-sm ddlPaymentMethodId frmfontsize" id="ddlPaymentMethodId">
                                            @foreach (var item in ViewBag.PaymentMethods)
                                            {
                                                var selected = false;
                                                if (item.Id == 1)
                                                { selected = true; }

                                                <option value="@item.Id" selected="@selected">@item.MethodName</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div class="form-check-inline">
                                            <input type="checkbox" class="form-check-input" id="chkKeepBankingInformation" />
                                            <label class="form-check-label captionWeight" for="chkKeepBankingInformation">APPLY TO NEXT INVOICE</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control form-control-sm ddlBankId frmfontsize" id="ddlBankId">
                                            <option value="0">-- SELECT BANK --</option>
                                            @foreach (var item in ViewBag.Banks)
                                            {
                                                <option value="@item.Id">@item.BankName</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 form-inline pr-0">
                                        <label class="captionWeight mr-2">CHQ#</label>
                                        <input type="text" id="txtChequeNo" class="col-9 form-control form-control-sm frmfontsize" placeholder="CHEQUE #">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-sm-3">
                                        <label for="txtChequeAmount" class="captionWeight">Cheq amt.</label>
                                        <input type="number" id="txtChequeAmount" class="form-control form-control-sm frmfontsize" placeholder="0.00">
                                    </div>

                                    <div class="form-group col-sm-4 pl-0">
                                        <label for="txtChequeDate" class="captionWeight">Cheq date</label>
                                        <input type="date" id="txtChequeDate" class="form-control form-control-sm frmfontsize">
                                    </div>
                                    <div class="form-group col-sm-3 pl-0">
                                        <label for="txtCashAmount" class="captionWeight">Cash</label>
                                        <input type="number" id="txtCashAmount" class="form-control form-control-sm frmfontsize" placeholder="0.00" disabled>
                                    </div>
                                    <div class="form-group col-sm-2 pl-0">
                                        <label for="txtPaymentApplied" class="captionWeight">Applied</label>
                                        <input type="number" id="txtPaymentApplied" class="form-control form-control-sm frmfontsize" placeholder="0.00">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtRemainingAmount" class="captionWeight">Remaining</label>
                                        <input type="number" id="txtRemainingAmount" class="form-control form-control-sm frmfontsize" placeholder="0.00" disabled />
                                    </div>
                                    <div class="form-group col-sm-9 pl-0">
                                        <label for="txtPaymentRemarks" class="captionWeight">Remarks:</label>
                                        <input id="txtPaymentRemarks" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                   
                </div>

            </div>
            <div class="modal-footer padding-lg">
                <button type="button" class="btn btn-sm btn-primary"  id="btnMakePayment"> APPLY PAYMENT</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paidInvoiceModal" tabindex="-1" role="dialog" style="text-transform:uppercase">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <label class="modal-title mr-1"> PAID INVOICES  </label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display:block;" id="loadCustomerWiseInvoices">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
            </div>
        </div>
    </div>
</div>

<form id="frmInvoicePaymentForm">
    <div class="row">
        <div class="col-sm-12 input-group">
            <select class="col-2 form-control form-control-sm" id="ddlCustomerId">
                <option value="0">All Customer</option>
                @foreach (var customer in ViewBag.Customers)
                {
                    <option value="@customer.Id">@customer.CustomerName</option>

                }

            </select>
            <select class="col-1 form-control form-control-sm" id="ddlYear">
                <option value="0">All</option>
                <option value="@DateTime.Now.ToString("yyyy")">@DateTime.Now.ToString("yyyy")</option>
                <option value="@DateTime.Now.AddYears(-1).ToString("yyyy")">@DateTime.Now.AddYears(-1).ToString("yyyy")</option>
            </select>
            <div class="col-2 form-control form-control-sm form-check-inline ml-2" style="font-weight:bold">
                <input class="form-check-input" type="checkbox" id="chkShowPaidInvoice" />
                <label class="form-check-label" id="" for="chkShowPaidInvoice">INCLUDE PAID INVOICES</label>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-dark" id="btnShowRecords" style="margin-bottom:10px" type="button">SHOW INVOICES</button>
            </div>
            <span id="spinnerLoadingDataTable" style="display:none">
                <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                <span style="margin-right:20px">Loading...</span>
            </span>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div style="display:block; margin-bottom:15px" id="loadCustomersInvoiceDue">
                <partial name="_PartialViewCustomersInvoiceDue" />
            </div>
        </div>
    </div>

    <hr />
</form>

<br /><br />


<script src="~/js/invoice.js"></script>

