@using LogisticsManagement_Web.Models;
@model ViewModel_MiscellaneousOrder

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#misc-order-list')) {
            $('#misc-order-list').DataTable().destroy();
        }
        $('#misc-order-list').DataTable({
            "order": [[0, "desc"]],
            searching: true,
            paging: true,
            info: true,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",
            }
        });
    });
</script>

<table id="misc-order-list" class="table table-sm table-bordered table-striped lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
    <thead style="background-color:#e2e2e2">
        <tr>
            <th>
                <div class="form-check-inline">
                    @{
                        var wayBillArray = Model.MiscellaneousOrders.Select(c => c.WayBillNumber).ToArray();
                        string wayBillArrayString = "";
                        foreach (var wb in wayBillArray)
                        {
                            wayBillArrayString += wb + ",";
                        }
                    }
                    <input type="checkbox" class="form-check-inline" id="chkCheckAllOrders" />
                    <input type="hidden" id="hfWaybillArray" value="@wayBillArrayString" />
                    <label class="form-check-label">W/B #</label>
                </div>

            </th>
            <th>Date</th>
            <th>Ref #</th>
            <th>Unit/Qty</th>
            <th>Wght.</th>
            <th>Biller</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MiscellaneousOrders.Where(c => c.OrderTypeId == 3 && c.IsInvoiced == false).ToList().OrderByDescending(c => c.WayBillNumber))
        {
            <tr>
                <td>
                    <div class="form-check-inline">
                        <input type="checkbox" id="chkWaybillNumber" class="form-check-input chkWaybillNumber" name="chkWaybillNumber" data-waybillnumber="@item.WayBillNumber">
                        <a class="btnEdit" href="#" data-waybillnumber='@item.WayBillNumber' data-toggle="modal" style="cursor:pointer"><label class="form-check-label" style="cursor:pointer">@item.WayBillNumber</label></a>
                    </div>
                </td>
                <td>
                    @item.OrderDateString
                </td>
                <td>
                    @item.CustomerRefNumber
                </td>
                <td>
                    @{
                        var qtyStr = "";
                        if (item.UnitQuantity > 0)
                        {
                            qtyStr = item.UnitQuantity.ToString();
                            qtyStr += " (" + item.UnitTypeName + ")";
                            if (item.SkidQuantity > 0) {
                                qtyStr += "; " + item.SkidQuantity + " SKID";
                            }
                        }
                        else {
                            if (item.SkidQuantity > 0)
                            {
                                qtyStr += item.SkidQuantity;
                            }
                        }

                        @qtyStr;
                    }
                </td>
                <td>
                    @item.WeightTotal (@item.WeightScaleId)
                </td>
                <td>
                    @item.BillerCustomerName (@item.BillerCustomerId)
                </td>
                <td>
                    <button id="btnEdit" data-waybillnumber='@item.WayBillNumber' class="btn-primary btnEdit" type="button" title="Edit" data-toggle="modal"><i class="fa fa-pencil"></i></button>
                    <button id="btnDelete" data-waybillnumber='@item.WayBillNumber' class="btn-danger btnDelete" type="button" title="Delete"><i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="~/js/misc-order.js"></script>