@model LogisticsManagement_Poco.Lms_ConfigurationPoco


@{
    ViewData["Title"] = "CONFIGURATION";
}
<h3>
    @ViewData["Title"]
</h3>
<hr style="margin-bottom:40px" />


<form id="frmConfigurationForm">

    <fieldset>
        <legend>GENERAL</legend>
        <div class="row">
            <div class="form-group col-sm-3">
                <input type="hidden" id="hfTaxToCall" value="@Model.TaxToCall" />
                <label for="ddlTaxToCall"> Tax to call </label>
                <select class="form-control form-control-sm frmfontsize" id="ddlTaxToCall" name="ddlTaxToCall">
                    @foreach (var item in ViewBag.TaxToCall)
                    {
                        var selected = false;
                        if ((int)item == 1)
                        {
                            selected = true;
                        }
                        <option value="@item" selected="@selected">@item</option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="txtTaxAmount"> Tax amount</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtTaxAmount" value="@Model.TaxAmount" min="0" max="100" step=".01" placeholder="Tax amount (%)" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtDefaultFuelSurCharge"> Fuel surcharge</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtDefaultFuelSurCharge" name="txtDefaultFuelSurCharge" value="@Model.DefaultFuelSurcharge" min="0" max="100" step=".01" placeholder="Default fuel surcharge" title="Default fuel surcharge" />
            </div>
            <div class="form-group col-sm-3">
                <label for="ddlSignInRequired"> Sign-in mandatory? <span style="color:blue"><i class="fa fa-question-circle" title="Whether employee/driver sign-in is required to dispatch the order/s"></i> </span></label>
                <select class="form-control form-control-sm frmfontsize" id="ddlSignInRequired" name="ddlSignInRequired">
                    @{
                        var isRequired = false;
                        if (Model.IsSignInRequiredForDispatch == true)
                        {
                            isRequired = true;
                        }

                    }
                    <option value="0" selected="@isRequired">No</option>
                    <option value="1" selected="@isRequired">Yes</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="form-group col-sm-3">
                <label for="txtWayBillPrefix"> W/B Prefix</label>
                <input type="text" class="form-control form-control-sm frmfontsize" id="txtWayBillPrefix" name="txtWayBillPrefix" value="@Model.WayBillPrefix" placeholder="Prefix" title="Invoice no. starts from" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtDeliveryWbNoStartsFrom"> Delivery WB# starts from</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtDeliveryWbNoStartsFrom" name="txtDeliveryWbNoStartsFrom" value="@Model.DeliveryWBNoStartFrom" placeholder="Delivery WB# starts from" title="Delivery WB# starts from" />
            </div>

            <div class="form-group col-sm-3">
                <label for="txtInvoiceNoStartsFrom"> Invoice# starts from</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtInvoiceNoStartsFrom" name="txtInvoiceNoStartsFrom" value="@Model.InvoiceNumberStartFrom" placeholder="Invoice# starts from" />
            </div>
            <div class="form-group col-sm-3">


                <label for="txtStorageWbNoStartsFrom"> Storage WB# starts from</label>


                <input type="number" class="form-control form-control-sm frmfontsize" id="txtStorageWbNoStartsFrom" name="txtStorageWbNoStartsFrom" value="@Model.StorageWBNoStartFrom" placeholder="Storage WB# starts from" title="Storage WB# starts from" />
            </div>

            <div class="form-group col-sm-3" style="display:none">
                <label for="txtMiscWbNoStartsFrom"> Misc. WB# starts from</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtMiscWbNoStartsFrom" name="txtMiscWbNoStartsFrom" value="@Model.MiscWBNoStartFrom" placeholder="Misc. WB# starts from" title="Misc. WB# starts from" />
            </div>
            <div class="form-group col-sm-3" style="display:none">
                <label for="ddlDefaultWeightScaleId"> Default weight scale</label>
                <select id="ddlDefaultWeightScaleId" class="form-control form-control-sm frmfontsize">
                    @foreach (var item in ViewBag.WeightScales)
                    {
                        <option value="@item.Id">(@item.ShortCode) - @item.ScaleName</option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-3" style="display:none">
                <label for="ddlDefaultWeightScaleId"> Default unit</label>
                <select id="ddlDefaultWeightScaleId" class="form-control form-control-sm frmfontsize">
                    @foreach (var item in ViewBag.UnitTypes)
                    {
                        <option value="@item.Id">(@item.ShortCode) - @item.TypeName</option>
                    }
                </select>
            </div>
        </div>


    </fieldset>

    <fieldset>
        <legend>GL CODE MAPPING</legend>

        <div class="row mb-3">
            <div class="form-group col-sm-2">
                <label for="txtIncomeAccount"> Sales income A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtIncomeAccount" name="txtIncomeAccount" placeholder="Sales income A/C" title="Sales income A/C" value="@Model.SalesIncomeAccount" />
            </div>
            <div class="form-group col-sm-2">
                <label for="txtSalaryExpenseAccount"> Salary expense A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtSalaryExpenseAccount" name="txtSalaryExpenseAccount" placeholder="Salary expense A/C" title="Salary expense A/C" value="@Model.SalesIncomeAccount" />
            </div>
            <div class="form-group col-sm-2">
                <label for="txtTaxPayableAccount"> Tax payable A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtTaxPayableAccount" name="txtTaxPayableAccount" placeholder="Tax payable account" title="Tax payable account" value="@Model.SalesTaxPayableAccount" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtParentGLForCustomerAccount"> Customer GL</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtParentGLForCustomerAccount" name="txtParentGLForCustomerAccount" placeholder="GL Code" title="Parent GL for customer" value="@Model.ParentGLForCustomerAccount" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtParentGLForEmployeeAccount"> Employee GL</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtParentGLForEmployeeAccount" name="txtParentGLForEmployeeAccount" placeholder="GL Code" title="Parent GL for employee" value="@Model.ParentGLForEmployeeAccount" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-sm-2">
                <label for="txtCashInHandAccount"> Cash in Hand A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtCashInHandAccount" name="txtCashInHandAccount" placeholder="Cash in Hand A/C" title="Cash in Hand A/C" value="@Model.CashAccount" />
            </div>
            <div class="form-group col-sm-2">
                <label for="txtBankAccount"> Bank A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtBankAccount" name="txtBankAccount" placeholder="Bank A/C" title="Bank A/C" value="@Model.BankAccount" />
            </div>
            <div class="form-group col-sm-2">
                <label for="txtBonusExpenseAccount"> Bonus expense A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtBonusExpenseAccount" name="txtBonusExpenseAccount" placeholder="Bonus expense A/C" title="Bonus expense A/C" value="@Model.BonusExpenseAccount" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtOtherReceivableAccount"> Other receivable A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtOtherReceivableAccount" name="txtOtherReceivableAccount" placeholder="Other receivable A/C" title="Other receivable A/C" value="@Model.OtherReceivableAccount" />
            </div>
            <div class="form-group col-sm-3">
                <label for="txtOtherPayableAccount"> Other payable A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtOtherPayableAccount" name="txtOtherPayableAccount" placeholder="Other payable A/C" title="Other payable A/C" value="@Model.OtherPayableAccount" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label for="txtOtherIncomeAccount"> Other income A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtOtherIncomeAccount" name="txtOtherIncomeAccount" placeholder="Other income A/C" title="Other income A/C" value="@Model.OtherIncomeAccount" />
            </div>
            <div class="form-group col-sm-2">
                <label for="txtOtherExpenseAccount"> Other expense A/C</label>
                <input type="number" class="form-control form-control-sm frmfontsize" id="txtOtherExpenseAccount" name="txtOtherExpenseAccount" placeholder="Other expense A/C" title="Other expense A/C" value="@Model.OtherExpenseAccount" />
            </div>
        </div>

    </fieldset>



    <hr />

    <div class="row">
        <div class="col-sm-4"><button type="submit" class="btn btn-sm btn-primary" id="btnSave"><i class="fa fa-save"></i> Save record</button></div>
        <div class="col-sm-8 text-right">
            <button class="btn btn-sm btn-secondary" id="btnClearCache"><i class="fa fa-refresh"></i> Clear cache</button>
            <button class="btn btn-sm btn-secondary" id="btnCreateDatabaseBackup"><i class="fa fa-save"></i> Create database backup</button>
            <button class="btn btn-sm btn-secondary" id="btnDeleteInvoiceWaybill"><i class="fa fa-trash"></i> Delete invoice/waybill files</button>
        </div>
    </div>





</form>


<script>
    $('#ddlTaxToCall').val($('#hfTaxToCall').val());

    $('#frmConfigurationForm').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
    $('#frmConfigurationForm').unbind('submit').submit(function (event) {
        event.preventDefault();
        var data = {
            id: 1,
            taxToCall: $('#ddlTaxToCall').val(),
            taxAmount: $('#txtTaxAmount').val(),
            isSignInRequiredForDispatch: $('#ddlSignInRequired').val() == '1' ? 1 : 0,
            wayBillPrefix: $('#txtWayBillPrefix').val(),
            deliveryWBNoStartFrom: $('#txtDeliveryWbNoStartsFrom').val(),
            miscWBNoStartFrom: $('#txtMiscWbNoStartsFrom').val(),
            storageWBNoStartFrom: $('#txtStorageWbNoStartsFrom').val(),
            invoiceNumberStartFrom: $('#txtInvoiceNoStartsFrom').val(),
            defaultWeightScaleId: null,
            defaultFuelSurcharge: $('#txtDefaultFuelSurCharge').val(),

            parentGLForCustomerAccount: $('#txtParentGLForCustomerAccount').val(),
            parentGLForEmployeeAccount: $('#txtParentGLForEmployeeAccount').val(),
            salesTaxPayableAccount: $('#txtTaxPayableAccount').val(),
            salesIncomeAccount: $('#txtIncomeAccount').val(),
            salaryExpenseAccount: $('#txtSalaryExpenseAccount').val(),
            bonusExpenseAccount: $('#txtBonusExpenseAccount').val(),
            otherReceivableAccount: $('#txtOtherReceivableAccount').val(),
            otherPayableAccount: $('#txtOtherPayableAccount').val(),
            otherIncomeAccount: $('#txtOtherIncomeAccount').val(),
            otherExpenseAccount: $('#txtOtherExpenseAccount').val(),
            bankAccount: $('#txtBankAccount').val(),
            cashAccount: $('#txtCashInHandAccount').val()
        }

        if (data.id > 0) {
            PerformPostActionWithObject('Configuration/Update', data);
        }
    });

    $('#btnClearCache').on('click', function (event) {
        event.preventDefault();
        var result = PerformPostAction('Configuration/ClearCache');
        if (result.length > 0) {
            bootbox.alert('Cache cleared!');
        }
    });

    $('#btnCreateDatabaseBackup').on('click', function (event) {
        event.preventDefault();
        var result = PerformPostAction('Configuration/CreateDatabaseBackup');
        if (result.length > 0) {
            bootbox.alert('Cache cleared!');
        }
    });

    $('#btnDeleteInvoiceWaybill').on('click', function () {
        event.preventDefault();
        var result = PerformPostAction('Configuration/DeleteInvoiceWayBill');
        if (result.length > 0) {
            bootbox.alert('Folders cleared!');
        }
    });
</script>