@{
    ViewData["Title"] = "User";
}

<form id="frmUserForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #3b80a9;color: #fff;">
                    <strong><i class="fa fa-sliders"></i> Add a user</strong>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" id="txtUserId" type="number" name="txtUserId" min="0" placeholder="User id" max="999" title="User id">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtUserName" placeholder="User name" name="txtUserName" type="text" maxlength="20" title="User name" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtPassword" placeholder="Password" name="txtPassword" type="password" maxlength="20" title="Password" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtConfirmPassword" placeholder="Confirm password" name="txtConfirmPassword" type="password" maxlength="20" title="Confirm password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtFirstName" placeholder="First name" name="txtFirstName" type="text" maxlength="20" title="First name" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtLastName" placeholder="Last name" name="txtLastName" type="text" maxlength="20" title="Last name" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <select class="form-control" id="ddlCityId" name="ddlCityId">
                                        <option value="0">User Group</option>
                                        @foreach (var group in ViewBag.UserGroups)
                                        {
                                            var groupId = (int)group;
                                            <option value="@groupId">@group</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <hr />



                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input class="form-control" id="txtAddressLine" placeholder="Address line" name="txtAddressLine" type="text" maxlength="100" />
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <select class="form-control" id="ddlCityId" name="ddlCityId">
                                        <option value="0" selected>City</option>
                                        @foreach (var city in ViewBag.Cities)
                                        {
                                            <option value="@city.Id">@city.CityName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <select class="form-control" id="ddlProvinceId" name="ddlProvinceId">
                                        <option value="0" selected>Province</option>
                                        @foreach (var province in ViewBag.Provinces)
                                        {
                                            <option value="@province.Id">@province.ShortCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <select class="form-control" id="ddlCountryId" name="ddlCountryId">
                                        <option value="0" selected>Country</option>
                                        @foreach (var country in ViewBag.Countries)
                                        {
                                            <option value="@country.Id">@country.CountryName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <input class="form-control" id="txtPostCode" placeholder="Postcode" name="txtPostCode" type="text" maxlength="20" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" id="txtPhoneNumber" placeholder="Phone number" name="txtPhoneNumber" type="text" maxlength="20" />
                                </div>
                                <div class="form-group col-sm-5">
                                    <input class="form-control" id="txtEmailAddress" placeholder="Email" name="txtEmailAddress" type="text" maxlength="150" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input id="chkIsActive" name="chkIsActive" type="checkbox" style="margin-top:15px; margin-bottom:15px" /> Active?
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4 ">
                                    Profile pic: <input id="fileProfilePic" name="fileProfilePic" placeholder="Profile pic" type="file" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr />
                    <button type="reset" class="btn btn-primary" id="btnNew"><i class="fa fa-plus-circle"></i> New</button>
                    <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>
                    <span style="margin-left:20px">
                        <button type="reset" class="btn btn-secondary" id="btnClear"><i class="fa fa-refresh"></i> Clear</button>
                    </span>

                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="background-color: #c3c3c3;">
                <strong><i class="fa fa-sliders"></i> Existing users</strong>
                <div class="card-header-actions">
                    <span id="spinnerLoadingDataTable" style="display:none">
                        <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                        <span style="margin-right:20px">Loading...</span>
                    </span>
                    <button id="btnDownloadUserData" type="button" class="btn btn-sm btn-primary" title="Load existing data" style="padding:0px 5px 0px 5px"><i class="fa fa-download"></i></button>
                    <span style="display:none" id="loadingSpinner"><i class="fa fa-circle-o-notch"></i></span>
                    <span>&nbsp;&nbsp;</span>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>

            <div class="collapse show" id="collapseDatatable">
                <div class="card-body">
                    <div id="loadUserDataTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/app-user.js"></script>
