@using LogisticsManagement_Poco;
@model IEnumerable<App_UserPoco>

@{
    ViewData["Title"] = "USERS";
}

<div class="row">
    <div class="col-sm-1">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>

    <div class="col-sm-4 input-group">
        <select class="col-2 form-control form-control-sm" id="">
            <option value="0">All</option>
        </select>
        <button style="margin-left:10px;height:27px" class="col-6 btn btn-sm btn-dark" id="btnDownloadUserData"><i class="fa fa-download"></i> Load users </button>
        <span id="spinnerLoadingDataTable" style="display:none">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
            <span style="margin-right:20px">Loading...</span>
        </span>
    </div>
    <div class="col-sm-2 offset-5">
        <button id="btnNewUser" type="button" class="btn btn-sm btn-danger form-control" title="Add New Employee" data-toggle="modal"><i class="fa fa-plus-circle"></i> New User </button>
    </div>
</div>
<hr style="margin-bottom:20px" />

<form id="frmUserForm" class="form-inline">
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> USER </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row mb-3">
                                <div class="form-group col-sm-5 pr-0">
                                    <label id="lblFirstName" for="txtFirstName" class="captionWeight mr-2">First name</label>
                                    <input class="col-7 form-control form-control-sm frmfontsize" id="txtFirstName" placeholder="First name" name="txtFirstName" type="text" maxlength="20" required="">
                                </div>
                                <div class="form-group col-sm-7 pr-0">
                                    <label id="lblLastName" for="txtLastName" class="captionWeight mr-2">Last name</label>
                                    <input class="col-5 form-control form-control-sm frmfontsize" id="txtLastName" placeholder="Last name" name="txtLastName" maxlength="20" type="text">
                                    <input class="col-3 form-control form-control-sm frmfontsize ml-1" placeholder="####" id="txtUserId" type="number" min="1" name="txtUserId" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5 pr-0">
                                    <label for="txtUserName" class="captionWeight mr-2">User name</label>
                                    <input class="col-7 form-control form-control-sm frmfontsize ml-1" id="txtUserName" placeholder="User name" name="txtUserName" type="text" maxlength="20" title="User name" required />
                                </div>
                                <div class="form-group col-sm-7 pr-0">
                                    <label for="txtPassword" class="captionWeight mr-2">Password</label>
                                    <input class="col-sm-4 form-control form-control-sm frmfontsize ml-1" id="txtPassword" placeholder="Password" name="txtPassword" type="password" maxlength="20" title="Password" required />
                                    <input class="col-sm-4 form-control form-control-sm frmfontsize ml-1" id="txtConfirmPassword" placeholder="Confirm PWD" name="txtConfirmPassword" type="password" maxlength="20" required title="Confirm password" />

                                </div>
                            </div>
                            <hr />
                            <div class="row mb-2">
                                <div class="form-group col-sm-6">
                                    <label id="lblLastName" for="ddlUserGroupId" class="captionWeight mr-4">Group</label>
                                    <select class="col-8 form-control form-control-sm frmfontsize" id="ddlUserGroupId" name="ddlUserGroupId" required>
                                        <option value="0">User Group</option>
                                        @foreach (var group in ViewBag.UserGroups)
                                        {
                                            var groupId = (int)group;
                                            <option value="@groupId">@group</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="ddlEmployeeId" class="captionWeight mr-3">Employee</label>
                                    <select class="col-8 form-control form-control-sm frmfontsize" id="ddlEmployeeId">
                                        <option value="0" selected>-Select-</option>
                                        @foreach (var item in ViewBag.Employees)
                                        {
                                            <option value="@item.Id">@item.FirstName  @item.LastName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Address</legend>
                                <div class="row mb-1">
                                    <div class="form-group col-sm-12">
                                        @*<input class="col-3 form-control form-control-sm frmfontsize" id="txtUnitNo" placeholder="UNIT #" name="txtUnitNo" type="text" maxlength="20" />*@
                                        <input class="col-12 form-control form-control-sm frmfontsize" id="txtAddressLine" placeholder="Address line" name="txtAddressLine" type="text" maxlength="100" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group col-sm-12">
                                        <select class="col-sm-4 form-control form-control-sm frmfontsize" id="ddlCityId" name="ddlCityId">
                                            <option value="0" selected>City</option>
                                            @foreach (var city in ViewBag.Cities)
                                            {
                                                <option value="@city.Id">@city.CityName</option>
                                            }
                                        </select>
                                        <select class="col-sm-4 form-control form-control-sm frmfontsize" id="ddlProvinceId" name="ddlProvinceId">
                                            <option value="0" selected>Province</option>
                                            @foreach (var province in ViewBag.Provinces)
                                            {
                                                <option value="@province.Id">@province.ShortCode</option>
                                            }
                                        </select>
                                        <select class="col-sm-4 form-control form-control-sm frmfontsize" id="ddlCountryId" name="ddlCountryId">
                                            <option value="0" selected>Country</option>
                                            @foreach (var country in ViewBag.Countries)
                                            {
                                                <option value="@country.Id">@country.CountryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <div class="form-group col-sm-12">
                                        <input class="col-sm-3 form-control form-control-sm frmfontsize" id="txtPostCode" placeholder="Postcode" name="txtPostCode" type="text" maxlength="20" />
                                        <input class="col-sm-3 form-control form-control-sm frmfontsize" id="txtPhoneNumber" placeholder="Phone number" name="txtPhoneNumber" type="text" maxlength="20" />
                                        <input class="col-sm-6 form-control form-control-sm frmfontsize" id="txtEmailAddress" placeholder="Email" name="txtEmailAddress" type="text" maxlength="150" />
                                    </div>
                                </div>
                            </fieldset>
                            
                            <div class="row mt-3 mb-2">
                                <div class="form-group col-12">
                                    <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" id="chkIsActive" type="checkbox" name="chkIsActive" checked>
                                        <label class="form-check-label captionWeight" for="chkIsActive">Is active?</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3 pl-0">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <img id="imgProfilePic" src="~/images/others/no-image.png" alt="Profile pic" style="width:180px;height:200px; border:1px solid #c3c3c3; padding: 5px" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="form-group col-sm-12">
                                    <label for="fileProfilePic" class="captionWeight mr-2"> Profile pic</label>
                                    <input id="fileProfilePic" name="fileProfilePic" type="file"  />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadUserDataTable">
            <partial name="_PartialViewUserData" />
        </div>
    </div>

</div>


<script src="~/js/app-user.js"></script>
